footer {
	background-color: dimgray;
	padding: 30px 50px !important; 
}
@media (max-width: 767.98px) {
	footer {
		padding: 30px 5px !important; 
	}	
}
footer .col-sm-4:first-of-type ul{
	list-style: none;
    padding-left: 0;
    font-size: 14px;
    color: #fff;
}
footer p{
	color: #fff;
}