
/*   Menu principal   */

.menu-principal {
	width: 80px;
	float: left;
	position: fixed;
	height: 100vh;
	background-color: #eceeef;
	
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	/* z-index: 1; */
	z-index: 30;
}

.menu-footer{
	left: 3px;
    position: absolute;
    bottom: 0;
    width: 300px;
}
@media (max-height: 532px){
	.menu-footer{
		width: 100%;
	}
	.menu-contato{
		width: 50%;
		display: inline-block;
		float: left;
	}
	.menu-contato:first-child{
	    width: 125px;
	}
}

.menu-principal.menu-bar{
	padding: 0 0.5%;
}

@media (max-width: 768px){
	.menu-principal {
		display: none;
	}	
}

.menu-principal a:hover{
	text-decoration-color: var(--color-red);
}

.menu-principal .logo-menu { 
	max-width: 65px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    width: 100%;
}



.logo-toggle {
	max-width: 200px;
	opacity: 0;
	display: inline;
	margin-bottom: 8px;
}


.change-logo-toggle {
	max-width: 200px;
	opacity: 1;
	
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;	
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
	-o-transition-duration: .4s;
	transition-duration: .4s;
}

#info-img-toggle {
	display: none;
	opacity: 0;
	transition: all 0.4s;
}

.menu-principal .change-logo-toggle:hover + #info-img-toggle {
	display: block !important;
    position: absolute;
    top: 10%;
    left: 80%;
    width: 95%;
	opacity: 1;
	transition: all 0.4s;
}

.container-menu {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-left: -15px;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    margin: 0 auto;
    margin-top:7px;
    transition: 0.4s;
    border: none;
}

.change .bar1 {
    -webkit-transform: rotate(-90deg) translate(-9px, -13px);
    transform: rotate(-90deg) translate(-9px, -13px);
}

.change .bar2 {
	-webkit-transform: rotate(-90deg) translate(0px, -4px);
    transform: rotate(-90deg) translate(0px, -4px);
}

.change .bar3 {
    -webkit-transform: rotate(90deg) translate(9px, 6px);
    transform: rotate(-90deg) translate(9px, 6px);
}

.items-menu {
	/* opacity: 0; */
	position: fixed;
	height: 100%;
	width: 0;
	overflow: hidden;
	left:80px;
	z-index:31;
	padding-top: 17px;
	padding-left: 4px;
    background-color: #eceeef;
    
}

.change-items-menu {
	opacity: 1;	
	width: 400px;
    
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;	
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
	-o-transition-duration: .4s;
	transition-duration: .4s;
}

.items-menu ul {
	padding-left: 113px;
	margin-bottom: 20px;
	padding-left: 0;
}

.items-menu ul li {
	list-style: none;
    color: slategray;
    font-weight: 300;
}

.items-menu ul li a {
    color: slategray;
}

.items-menu .items-principal, .items-menu .items-secundarios {
	width: 300px;
	padding-top: 25px;
    margin-bottom: 0;
}
@media (max-height: 532px){
	.items-menu .items-principal, .items-menu .items-secundarios{
		width: 50%;
		display: inline-block;
		float: left;
		
	}
}

.items-menu .items-principal li {
	font-size: 22px;
}

.items-menu ul.items-secundarios {
	margin-bottom: 45px;
}

.items-menu .menu-contato li {
	font-size: 14px;
	line-height: 18px;
}

/*   Menu principal   */

/*   Botão Menu Mobile   */

.botao-menu {
  background-color: var(--color-red);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 3%;
  cursor: pointer;
  /* z-index: 10;  */
  z-index: 30; 
}

.botao-menu span {
    width: 25px;
    height: 1px;
    margin-left: -12.5px;
    left: 50%;
    position: absolute;
    border: 1px solid #fff;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s; 
}

.botao-menu span:first-of-type {
  top: 30%; 
}

.botao-menu span:nth-of-type(2) {
  top: 50%; 
}

.botao-menu span:last-of-type {
  top: 70%; 
}

@media (min-width: 801px) {
	.botao-menu {
	  display: none; 
	} 
}

.change-botao-menu span:first-of-type {
  -webkit-transform: rotate(45deg) translate(6px, 5px);
  transform: rotate(45deg) translate(6px, 5px); 
}

.change-botao-menu span:nth-of-type(2) {
  opacity: 0; 
}

.change-botao-menu span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
  transform: rotate(-45deg) translate(7px, -7px); 
}

/*   Botão Menu Mobile   */

/*   Menu Mobile   */

.menu-mobile {
	position: fixed;
	left: 0;
	top: 0;
	display:none;
	width: 0%;
	height: 100vh;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	background-color: #eceeef;
	z-index: 0;
}

.menu-mobile img {
	max-width: 220px;
	margin: 20px;
	opacity: 0;
}

.menu-mobile .items-menu-mobile {
	/* opacity: 0; */
}

.menu-mobile .items-menu-mobile ul li {
	list-style: none;
    color: slategray;
    font-weight: 300;
}

.menu-mobile .items-menu-mobile ul li a {
    color: slategray;
}

.menu-mobile .items-menu-mobile ul li a:hover {
    text-decoration-color: var(--color-red);
}

.menu-mobile .items-menu-mobile .items-principal-mobile {
	margin: 15px 0 40px 0;
}

.menu-mobile .items-menu-mobile .items-principal-mobile li {
	font-size: 20px;
}

.menu-mobile .items-menu-mobile .items-secundarios-mobile {
	margin-bottom: 60px;
}

.menu-mobile .menu-contato li {
	font-size: 14px;
	line-height: 18px;
}

.change-menu-mobile {
	width: 83%;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	z-index: 26;
	/* z-index: 10; */
}

.change-menu-mobile .items-menu-mobile {
	opacity: 1;
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;	
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
	-o-transition-duration: .4s;
	transition-duration: .4s;
}

.change-menu-mobile img {
	opacity: 1;
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;	
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
	-o-transition-duration: .4s;
	transition-duration: .4s;
}

/*   Menu Mobile   */
  

/*   Mask Body   */

.mask-body {
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
}

/* Tablet */
@media (max-width: 768px) {
	.items-menu {
	    left: 0;
	    z-index: 26;
	    padding-top: 27px;
	    padding-left: 0;
	    
	}
	.change-items-menu {
	    width: 100%;
	    padding-left: 39px;
	}
	.menu-footer{
	    left: 43px;
	}
}