@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');


body{
    font-family: 'Ubuntu', sans-serif !important; 
}

h1{
    font-weight: 400;
}

p{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif !important; 
}

.container-geral {
    width: 93%;     
    float: right;
}



.p-blue{
    color: #236299;
}

.p-red{
    color: #E44421;
}


:root {
  --color-red: #E44421;
  --color-blue: #4868AD;
  --color-blue-dark: #236299;
  --color-blue-medium: #529AD0;
  --color-blue-light: #7CC1E9;
  --color-blue-tab:#8CC9EC;
  --color-gray: dimgray;
  --color-gray2: #969696;
  --color-gray-radio-btn: #989898;
  --color-gray-light-radio-btn: #CBCBCB;
  --color-gray-medium: #575756;
  --color-gray-tooltip: #808080;
  --color-gray-scroll: #E5E5E5;
  --color-white: #fff;
}

.color-gray-medium {
    color: var(--color-gray-medium);
}

.color-blue-dark{
    background-color: var(--color-blue-dark);
}
.color-blue-medium{
    background-color: var(--color-blue-medium);
}
.color-blue-light{
    background-color: var(--color-blue-light);
}

.color-blue-gradient {
    background-color: linear-gradient(var(--color-blue-dark), var(--color-blue-light));
    background: linear-gradient(to bottom, var(--color-blue-dark), var(--color-blue-light));
}

.font-blue-light {
    color: var(--color-blue-light);
}

.font-white {
    color: #fff;
    font-family: 'Ubuntu', sans-serif !important;
}

.icon-r-sm {
    font-size: 10px;
    vertical-align: text-top;
    line-height: 1;
}

.icon-r {
    font-size: 13px;
    vertical-align: text-top;
    line-height: 1;
}

.icon-r-lg {
    font-size: 16px;
    vertical-align: text-top;
    line-height: 1;
}

.icon-r-xlg {
    font-size: 20px;
    vertical-align: text-top;
    line-height: 1;
}


.btn-primary{ 
    background-color: var(--color-red);
    border: none;
    color: white;
    /* padding: 7px 40px;    */
    padding: 12px 25px;
    border-radius: 15px;
    border: 2px solid var(--color-red);
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;     
    transition: .4s;
}


.btn-primary:hover{
	color: var(--color-red);
	background-color: transparent;
	text-decoration: unset;
	border: 2px solid #E44421;
}

.btn-primary:focus, .btn-primary.focus {
    background-color: var(--color-red);
    border: none;
    color: white;
    text-decoration: unset;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: var(--color-red);
  border-color: #FD3333;
}
.btn-primary.btn-bg-escuro:hover{
    color: white;
}

.font-blue {
    color: var(--color-blue);
}

.font-gray {
    color: var(--color-gray); 
}

.font-gray-light {
    color: var(--color-gray2)
}

.font-size-20 {
    font-size: 20px;
}


.font-size-20-light {
    font-size: 20px;
    font-weight: 300;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-16-light {
    font-size: 16px;
    font-weight: 300;
}

.font-size-22-light {
    font-size: 22px;
    font-weight: 300;
}

.font-size-24-light {
    font-size: 24px;
    font-weight: 300;
}

.font-size-28-light {
    font-size: 28px;
    font-weight: 300;
}

.font-light {
    font-weight: 300;
}

button, input, optgroup, select, textarea {
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 300;
}

.btn-blue{
    background-color: var(--color-blue);
    color: white;
    border: 2px solid var(--color-blue);
}
.btn-blue:hover{
    background-color: var(--color-blue);
    color: white;
    border: 2px solid var(--color-blue);
}
.btn-blue:focus{
    background-color: var(--color-blue);
    color: white;
    border: 2px solid var(--color-blue);
}

.btn-blue.disabled, .btn-blue:disabled {
  background-color: var(--color-red);
  border-color: #FD3333;
}

.btn-lg{
	font-size: 24px;
	padding: 7px 65px;
}
.btn-md{
    font-size: 20px;
    /* padding: 10px 35px; */
    text-align: center;
	padding: 7px 55px;
}
@media (max-width: 991.98px){
   .btn-md{
        font-size: 16px;
        padding: 7px 35px;
    } 
}
@media (min-width: 992px) and (max-width: 1199.98px){
   .btn-md{
        font-size: 16px;
        padding: 7px 20px;
    } 
}
@media (max-width: 575.98px) {
    .btn-md{
        font-size: 14px;
    } 
}

.btn-sm{
	font-size: 16px;
    /* padding: 7px 45px; */
    padding: 7px 20px;
    text-align: center;
}

.label-form {
    margin-top: 10px;
    margin-bottom: 0;

    width: 100%;
    position: relative;
}

input:focus {
    outline: 0;
}

.label-input:after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    top: 100%;
    right: 0;
    background: url(../img/duvidas/perg-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.input-class{
	border: none;
	border-bottom: 1px solid;
	outline: none;
    width: 100%;
}

.input-line {
    padding: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input-line::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-gray);
}

.input-line:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-gray);
}

.input-line::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color-gray);
}

.input-ph-red::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-red);
}

.input-ph-red:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-red);
}

.input-ph-red::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color-red);
}

.input-small {
    width: 30%;
}

.select-form {
    background: none;
    border-radius: 0;
    position: relative;
    -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
}

.select-form, .select-form option {
    outline: none;
    width: 100%;
}

.barra-gradiente{
    width: 100%;
    height: 50px;
}

.bg-gradient{
    background: rgba(124,193,233,1);
    background: -moz-linear-gradient(left, rgba(124,193,233,1) 0%, rgba(35,98,153,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(124,193,233,1)), color-stop(100%, rgba(35,98,153,1)));
    background: -webkit-linear-gradient(left, rgba(124,193,233,1) 0%, rgba(35,98,153,1) 100%);
    background: -o-linear-gradient(left, rgba(124,193,233,1) 0%, rgba(35,98,153,1) 100%);
    background: -ms-linear-gradient(left, rgba(124,193,233,1) 0%, rgba(35,98,153,1) 100%);
    background: linear-gradient(to right, rgba(124,193,233,1) 0%, rgba(35,98,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cc1e9', endColorstr='#236299', GradientType=1 );
}

.bg-gradient-reverse{
    background: rgba(35,98,153,1);
    background: -moz-linear-gradient(left, rgba(35,98,153,1) 20%, rgba(124,193,233,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(20%,rgba(35,98,153,1) ), color-stop(100%, rgba(124,193,233,1)));
    background: -webkit-linear-gradient(left, rgba(35,98,153,1) 20%, rgba(124,193,233,1) 100%);
    background: -o-linear-gradient(left, rgba(35,98,153,1) 20%, rgba(124,193,233,1) 100%);
    background: -ms-linear-gradient(left, rgba(35,98,153,1) 20%, rgba(124,193,233,1) 100%);
    background: linear-gradient(to right, rgba(35,98,153,1) 20%, rgba(124,193,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#236299', endColorstr='#7cc1e9', GradientType=1 );
}

.quadrado{
    width: 25px;
    height: 25px;
}
/* tooltip coracao menu */
.tooltip-menu {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 197px;
    top: 23px;
}
/* fim tooltip coracao */


.bs-tooltip-right .tooltip-inner  {
	max-width:300px;
	padding:3px 8px;
	color:var(--color-gray-tooltip);
	font-size: 14px;
	text-align: left;
	background-color:rgba(213,229,241,1) !important;
	border-radius: 0rem;
	border: 1px solid var(--color-red);
	margin-left: 10px;
}

.bs-tooltip-bottom .tooltip-inner  {
	max-width:300px;
	padding:3px 8px;
	color:var(--color-gray-tooltip);
	font-size: 14px;
	text-align: left;
	background-color:rgba(213,229,241,1) !important;
	border-radius: 0rem;
	border: 1px solid var(--color-blue-medium);
	position: relative;
	left: 50%;
}

.mask {
	top: 0;
	width: 100%;
	height: 100vh;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: block;
	position: fixed;
	z-index: 25;
	-webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
	transition: 0.4s;
}

.mask-off {
	display: none;
}

.mask-on {
	width: 100%;
	-webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
	transition: 0.4s;
}

@media (max-width:800px) {
    .mask-on {
        width: 100%;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }
}

.cabecalho-login{
    text-align: right;
    padding: 35px 25px 0;
    position: fixed;
    width: 325px;
    right: 0;
    z-index: 26;
}

@media (max-width: 767.98px) {
	.cabecalho-login {
		width: 100%;
	}
}

.cabecalho-login a{
	color: #fff;
}

.change-cabecalho-login a {
	color: black;
}

.cabecalho-login a:first-of-type{
	margin: 0 25px;
}

.change-cabecalho-login a:first-of-type {
	color: black !important;
}

@media (max-width:1440) {
	.v-a-top {
		vertical-align: text-top;
	}
}

.bloco-intro-texto .intro-titulo {
	color: #fff;
    font-weight: 300;
}

.bloco-conteudo-pad {
    width: 100%;
    padding: 0 60px;
}

.bloco-interno-inline {
    display: inline-flex;
    width: 100%;
}

.bloco-grafico-circ {
    width: 50%;
    float: left;
    display: inline-flex;
    position: relative;
}


@media (max-width: 800px) {
    .bloco-grafico-circ {
        width: 70%;
        height: 100vh;
    }
}

@media (max-width: 991.98px) {
    .bloco-grafico-circ {
        display: none;
    }
}

.bloco-grafico-circ .grafico {
    position: relative;
    height: 657px;
    width: 100%;
    /* height: 100%; */
    background-image: url(../img/ui/grafico-circ.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position-x: -80px; */
}

@media (max-width: 1100px) {
    .bloco-grafico-circ .grafico {
        height: 550px;
    }
}

@media (max-width: 500px) {
    .bloco-grafico-circ .grafico {
        background-color: #fff;
    }
}

/* fontes do grafico */

.bloco-grafico-circ .grafico .numeros-1 {
    color: var(--color-blue-light);
    font-size: 18px;
}

.bloco-grafico-circ .grafico .numeros-2 p:first-of-type {
    float: left;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-red);
}

.bloco-grafico-circ .grafico .numeros-2 p:last-of-type {
    line-height: 16px;
}

.bloco-grafico-circ .grafico .numeros-2 p:last-of-type span {

    font-size: 14px;
}

/* BLOCO DO NUMERO1 */
.bloco-grafico-circ .grafico .numeros-1:nth-of-type(1) {
    position: absolute;

    left: 85px;
    top: 136px;
}

.bloco-grafico-circ .grafico .numeros-1:nth-of-type(2) {
    position: absolute;
    left: 127px;
    top: 173px;
}

.bloco-grafico-circ .grafico .numeros-1:nth-of-type(3) {
    position: absolute;
    left: 128px;
    top: 219px;

}

.bloco-grafico-circ .grafico .numeros-1:nth-of-type(4) {
    position: absolute;
    left: 122px;
    top: 280px;
}

.bloco-grafico-circ .grafico .numeros-1:nth-of-type(5) {
    position: absolute;
    left: 94px;
    bottom: 129px;
}

.bloco-grafico-circ .grafico .numeros-1:nth-of-type(6) {
    position: absolute;
    left: 47px;
    bottom: 90px;
}

/* -------------------------------------- */
/* FIM BLOCO NUMERO1 */
/* -------------------------------------- */

/* BLOCO DO NUMERO2 */
.bloco-grafico-circ .grafico .numeros-2 p {
    font-size: 12px;
}
.bloco-grafico-circ .grafico .numeros-2:nth-of-type(7) {
    position: absolute;
    left: 141px;
    top: 69px;
}

.bloco-grafico-circ .grafico .numeros-2:nth-of-type(8) {
    position: absolute;
    left: 198px;
    width: 30%;
    top: 145px;
}

.bloco-grafico-circ .grafico .numeros-2:nth-of-type(9) {
    position: absolute;
    left: 214px;
    top: 214px;
    width: 33%;
}

.bloco-grafico-circ .grafico .numeros-2:nth-of-type(10) {
    position: absolute;
    left: 210px;
    top: 297px;
    width: 223px;
}    

.bloco-grafico-circ .grafico .numeros-2:nth-of-type(11) {
    position: absolute;
    left: 166px;
    bottom: 48px;
    width: 40%;
}

.bloco-grafico-circ .grafico .numeros-2:nth-of-type(12) {
    position: absolute;
    left: 97px;
    bottom: 0;
    width: 50%;
}


.bloco-comp-graf {
    width: 50%;
    float: left;
}

@media (min-width: 1100px) {
    .bloco-grafico-circ .grafico .numeros-1:nth-of-type(1) {
        position: absolute;
        left: 107px;
        top: 172px;
    }

    .bloco-grafico-circ .grafico .numeros-1:nth-of-type(2) {
        position: absolute;
        left: 138px;
        top: 222px;
    }

    .bloco-grafico-circ .grafico .numeros-1:nth-of-type(3) {
        position: absolute;
        left: 153px;
        top: 270px;
    }

    .bloco-grafico-circ .grafico .numeros-1:nth-of-type(4) {
        position: absolute;
        left: 144px;
        top: 341px;
    }

    .bloco-grafico-circ .grafico .numeros-1:nth-of-type(5) {
        position: absolute;
        left: 112px;
        bottom: 159px;
    }

    .bloco-grafico-circ .grafico .numeros-1:nth-of-type(6) {
        position: absolute;
        left: 50px;
        bottom: 102px;
    }

    .bloco-grafico-circ .grafico .numeros-2:nth-of-type(7)  {
        left: 191px;
        top: 102px;
    }

    .bloco-grafico-circ .grafico .numeros-2:nth-of-type(8) {
        position: absolute;
        left: 240px;
        width: 30%;
        top: 179px;

    }

    .bloco-grafico-circ .grafico .numeros-2:nth-of-type(9) {
        position: absolute;
        left: 261px;
        top: 264px;
        width: 33%;
    }

    .bloco-grafico-circ .grafico .numeros-2:nth-of-type(10) {
        position: absolute;
            left: 252px;
    top: 375px;
        width: 223px;
    }    

    .bloco-grafico-circ .grafico .numeros-2:nth-of-type(11) {
        position: absolute;
            left: 206px;
    bottom: 64px;

        width: 40%;
    }

    .bloco-grafico-circ .grafico .numeros-2:nth-of-type(12) {
        position: absolute;
            left: 116px;
        bottom: 0;
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .bloco-grafico-circ .grafico .numeros-1:nth-of-type(1) {
        position: absolute;
        left: 107px;
        top: 174px;
    }

    .bloco-grafico-circ .grafico .numeros-1:nth-of-type(2) {
        position: absolute;
        left: 145px;
        top: 231px;
    }

    .bloco-grafico-circ .grafico .numeros-1:nth-of-type(3) {
        position: absolute;
        left: 153px;
        top: 284px;
    }

    .bloco-grafico-circ .grafico .numeros-1:nth-of-type(4) {
        position: absolute;
        left: 151px;
        top: 357px;
    }

    .bloco-grafico-circ .grafico .numeros-1:nth-of-type(5) {
        position: absolute;
        left: 120px;
        bottom: 169px;
    }

    .bloco-grafico-circ .grafico .numeros-1:nth-of-type(6) {
        position: absolute;
        left: 50px;
        bottom: 107px;
    }

    .bloco-grafico-circ .grafico .numeros-2:nth-of-type(7)  {
        left: 191px;
        top: 102px;
    }

    .bloco-grafico-circ .grafico .numeros-2:nth-of-type(8) {
        position: absolute;
        left: 255px;
        width: 30%;
        top: 179px;
    }
    .bloco-grafico-circ .grafico .numeros-2:nth-of-type(9) {
        position: absolute;
        left: 280px;
        top: 264px;
        width: 33%;
    }

    .bloco-grafico-circ .grafico .numeros-2:nth-of-type(10) {
        position: absolute;
        left: 273px;
        top: 375px;
        width: 223px;
    }    

    .bloco-grafico-circ .grafico .numeros-2:nth-of-type(11) {
        position: absolute;
        left: 215px;
        bottom: 64px;

        width: 40%;
    }

    .bloco-grafico-circ .grafico .numeros-2:nth-of-type(12) {
        position: absolute;
        left: 116px;
        bottom: 0;
        width: 50%;
    }
}

@media (max-width: 991.98px) {
    .bloco-comp-graf {
        width: 100%;
    }
}

.bloco-comp-graf .logo {
    max-width: 257px;
    margin: 70px 0 30px;
}
@media (max-width: 1200px) and (min-width: 1100px) {
    .bloco-comp-graf .btn-md{
            padding: 7px 83px;
    }
}
@media (max-width: 575.98px) {
    .bloco-comp-graf .logo {
        max-width: 257px;
        margin: 30px 0 30px;
    }   
}

@media (max-width: 1100px) and (min-width: 900px) {
    .bloco-comp-graf .logo {
        max-width: 250px;
        margin: 30px 0 30px;
    }
}

.bloco-comp-graf .comp-conteudo {
    max-width: 472px;
    margin: auto;
}

@media (min-width: 1200px) {
    .bloco-comp-graf .comp-conteudo {
        margin: unset;
    }
}


@media (max-width: 991.98px) {
    .bloco-comp-graf .comp-conteudo {
        padding: 17px;
    }   
}

.bloco-comp-graf p:first-of-type {
    margin-bottom: 40px;
    font-size: 16px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif !important;
}

@media (max-width:1100px) {
    .bloco-comp-graf p:first-of-type {
        font-size: 14px;
        margin-bottom: 20px;
    }
}

/* GRAFICO */

.bloco-comp-graf .grafico1 {
	height: 12px;
	/* width: 200px; */
	background-color: var(--color-blue-light);
	margin-bottom: 12px;
}

.bloco-comp-graf .graf1-inativo {
	width: 100px;
	transition: 2s;
}

.bloco-comp-graf .graf1-ativo {
	width: 200px;
	transition: 2s;
}

.bloco-comp-graf .grafico2 {
	height: 12px;
	/* width: 405px; */
	background-color: var(--color-red);
	margin-bottom: 40px;
}

.bloco-comp-graf .graf2-inativo {
	width: 100px;
	transition: 4s;
}

.bloco-comp-graf .graf2-ativo {
	width: 405px;
	transition: 4s;
}

@media (max-width: 767.98px) {
	.bloco-comp-graf .grafico1 {
		width: 43%;
	}	

	.bloco-comp-graf .grafico2 {
		width: 87%;
	}	
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.bloco-comp-graf .grafico2 {
		width: 320px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.bloco-comp-graf .grafico2 {
		width: 280px;
		margin-bottom: 22px;
	}	
}

.bloco-comp-graf .bloco-brack {
    max-width: 402px;
    margin: 10px 0;
    text-align: center;
}

@media (max-width:1100px) and (min-width: 900px) {
    .bloco-comp-graf .bloco-brack {
        max-width: 282px;
    }
}

.bloco-comp-graf .bloco-brack img{
    text-align: center;
}

/* FIM GRAFICO */

/* RADIO BTN */

.bloco-escolha-radio {

}

.bloco-escolha-radio .radio-item {
    display: inline-flex;
}

.bloco-escolha-radio .radio-item:first-of-type {
    margin: 0 20px 0 0;
}

.bloco-escolha-radio .radio-item input[type="radio"] {
    display: none;
}

.bloco-escolha-radio .radio-item label {
    font-size: 18px;
    color: var(--color-gray-medium);
    font-weight: 300;
}

.bloco-escolha-radio .radio-item input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 5px 0 0;
    vertical-align: middle;
    background: var(--color-gray-radio-btn) left top no-repeat;
    cursor: pointer;
    border-radius: 60px;
    border: none;
    transition: 0.2s;
}

.bloco-escolha-radio .radio-item input[type="radio"]:checked + label span {
    background: var(--color-red);
    border: none;
    transition: 0.2s;
}

/* FIM RADIO */

.footer-pages {
	background-color: var(--color-blue-dark);
	text-align: center;
	padding: 15px;
}

.footer-pages p {
	color: #fff;
	margin-bottom: 0;
	font-size: 12px;
}

