.app-container {
  /*background-color:gray;*/
  /*height:20px;*/
  display: block;
  margin-left: 80px;
  padding-bottom: 120px;
}

.app-sidebar {
  width: 80px;
  height: 100%;
  position: fixed;
  background-color: white;
  border-right: 1px solid black;
  text-align: center;
  padding-top: 20px;
  z-index: 9;
}

.app-sidebar nav {
  width: 350px;
  top: 0;
  left: -350px;
  position: absolute;
  background-color: white;
  height: 100%;
  z-index: 999999999;
  border: 1px solid black;
}

.sidebar-buttom {
  /*background-color:black;*/
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  cursor: pointer;
  margin-top: -20px;
}

.sidebar-buttom .lines:before, .sidebar-buttom .lines:after {
  content: '';
  width: 40px;
  position: absolute;
  top: -11px;
  height: 3px;
  margin-left: -20px;
  background: black;
}

.sidebar-buttom .lines:after {
  top: 11px;
}

.sidebar-buttom .lines {
  display: block;
  width: 40px;
  height: 3px;
  background-color: black;
  position: absolute;
  top: 50%;
}

#sidebar.active {
  left: 0;
}

#sidebar .header img {
  float: left;
}

#sidebar .header h3 {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
}

#sidebar .header p {
  float: left;
  margin-left: 15px;
}

#sidebar .header {
  margin-top: 30px;
  /*margin-left:015px;*/
  margin-bottom: 103px;
}

#sidebar {
  padding: 25px;
}

.app-guarda-chuva {
  overflow: hidden;
  position: relative;
  widht: 100%;
  height: 100%;
  border: 1px solid black;
}

.app-guarda-chuva .links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 5%;
}

.app-guarda-chuva .infos {
  position: absolute;
  top: 5%;
  right: 5%;
  text-align: right;
  z-index: 3;
}

.app-guarda-chuva img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: -50%;
}

.gca-convidar .card {
  text-align: center;
  cursor: pointer;
  border: none;
}

.gca-convidar .card .fa {
  font-size: 40px;
}

.gca-convidar .card .btn {
  height: 194px;
}

.gca-acompanhar #table-acompanhar img {
  width: 50px;
}

.gca-acompanhar #table-acompanhar .status-cell {
  font-size: 0;
}

.gca-acompanhar #table-acompanhar .status-cell i {
  font-size: 24px;
}

/* fix = code from bootstrap 3 */
tbody.collapse.in {
  display: table-row-group;
}
