@import "../ui.css";

@media (min-width: 768px) and (max-width: 1199.98px) {
	body {
		overflow-x: hidden;
	}
}

/* CADASTRE-SE */

.div-cadastre .cadastre-conteudo {
	width: 100%;
	padding: 60px 0;
}

.div-cadastre .cadastre-conteudo .cadastro-titulo {
	color: #fff;
	text-align: center;
	font-weight: 300;
	font-size: 32px;
	margin-bottom: 20px;
}

.div-cadastre .cadastre-conteudo .opcao-conteudo {
	max-width: 700px;
	margin: auto;
	text-align: center;
}

.div-cadastre .cadastre-conteudo .bloco-escolha {
	max-width: 700px;
	margin: auto;
	text-align: center;
}

.div-cadastre .cadastre-conteudo .bloco-escolha .escolha-item {
	display: inline-flex;
	margin: 0 20px;
}

.div-cadastre .cadastre-conteudo .bloco-escolha .escolha-item label {
	color: #fff;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    /* font-family: Raleway; */
    border: 1px solid #aaaaaa;
}

input[type="radio"] {
	display:none;
}

input[type="radio"] + label span {
	display:inline-block;
	width:19px;
	height:19px;
	margin:-2px 10px 0 0;
	vertical-align:middle;
	background:rgba(0,0,0,0) left top no-repeat;
	cursor:pointer;
	border-radius: 60px;
	border: 1px solid #fff;
	transition: 0.2s;
}
input[type="radio"]:checked + label span {
	background: var(--color-red);
	border: 1px solid var(--color-red);
	transition: 0.2s;
}

.div-cadastre .cadastre-conteudo .bloco-escolha .bloco-info {
	color: #fff;
	margin-top: 20px;
}
@media (max-width: 800px) {
	.seg-opcoes {
		margin-top: 40px !important;
	}
}


.seg-opcoes .bloco-conteudo {
	text-align: center;
}

@media (max-width: 800px) {
	.seg-opcoes .bloco-conteudo img {
		margin-bottom: 40px;
	}
}

.seg-opcoes .bloco-form-conteudo {
	width: 90% !important;
}

.seg-opcoes .btn-valida-info:first-of-type {
	margin-top: 60px;
}

@media (max-width: 800px) {
	.seg-opcoes .btn-valida-info:first-of-type {
		margin-top: 30px;
	}
}

.seg-opcoes .btn-valida-info {
	margin-left: 15px;
}

.seg-opcoes .label-input:after {
	margin-top: 10px;
}

.seg-opcoes .titulo-venc {
	margin-top: 50px;
    margin-bottom: 10px;
}

.seg-opcoes .titulo-venc p {
	margin-bottom: 0;
}

.bloco-desc-auto {
	width: 80%;
}

@media (max-width: 800px) {
	.bloco-desc-auto {
		margin-bottom: 80px;
	}
}

/* AJUSTE BLOCO ESCOLHAS */
.bloco-formulario-total .font-opcoes {
	width: 90%;
	margin: auto;
	font-size: 33px;
	color: var(--color-gray-medium);
	margin-bottom: 60px;
}


.bloco-formulario-total .bloco-escolha-radio .radio-item:first-of-type {
	margin: unset;
}

.bloco-formulario-total .bloco-escolha-radio .radio-item {
	width: 33%;
	margin-bottom: 15px;
}

.bloco-formulario-total .bloco-escolha-radio .radio-item label {
	font-size: 16px;
}

.bloco-formulario-total .bloco-escolha-radio .radio-item input[type="radio"]:not(:checked) + label span {
	background-color: var(--color-gray-light-radio-btn);
}

.bloco-formulario-total .bloco-escolha-radio .radio-item input[type="radio"]:checked + label span {
	background-color: var(--color-red);
}

/* FIM AJUSTE BLOCO ESCOLHAS */

/* FIM CADASTRE-SE */

/* CADASTRE 2 */
.cadastro-2 {
	width: 100%;
	padding: 60px 0;
}

.cadastro-2 .cadastro2-conteudo {
	position: relative;
	display: inline-flex;
	padding: 0 60px;
}

@media (max-width: 800px) {
	.cadastro-2 .cadastro2-conteudo {
		display: table;
		padding: 0;
	}
}

@media (max-width: 800px) and (min-width: 500px) {
	.cadastro-2 .cadastro2-conteudo {
		max-width: 80%;
		margin: auto;
	}
}

.cadastro-2 .cadastro2-conteudo .simula-left{
	position: absolute;
	top: 40%;
	left: 5%;
}

.cadastro-2 .cadastro2-conteudo .simula-right{
	position: absolute;
	top: 40%;
	right: 5%;
}

.cadastro-2 .cadastro2-conteudo .cadastro2-texto-conteudo {
	margin-top: 80px;
}

.cadastro-2 .cadastro2-conteudo .cadastro2-bloco-texto .bloco-cadastro2-titulo {
	width: 80%;
	margin: auto;
	color: #fff;
	font-weight: 300;
	font-size: 30px;
}

.cadastro-2 .cadastro2-conteudo .cadastro2-bloco-texto .bloco-cadastro2-txt {
	color: #fff;
	font-weight: 300;
	font-size: 18px;
	width: 80%;
	margin: auto;
}

@media (max-width:500px) {
	.cadastro-2 .simula-meio {
		max-width: 30%;
	} 
}

.btn-cadastro2 {
	margin-top: 30px;
}

.btn-cadastro3 {
	float: right;
}

.cadastro-3 {
	padding-top: 60px;
}

.cadastro-3 .cadastro3-conteudo {
}

.cadastro-3 .cadastro3-conteudo .cadastro3-bloco-txt .cadastro3-txt {
	font-size: 18px;
	line-height: 20px;
}

.cadastro-3 .cadastro3-conteudo .cadastro3-bloco-form .bloco-cadastro3-conteudo {
	width: 70%;
	margin: auto;
}

.cadastro-3 .cadastro3-conteudo .cadastro3-bloco-form .bloco-cadastro3-conteudo .bloco-select {
	width: 50%;
    float: left;
}

.cadastro-3 .cadastro3-conteudo .cadastro3-bloco-form .bloco-cadastro3-conteudo .bloco-select-full {
	width: 100%;
}

.bloco-select-full label, .bloco-select-full input, .bloco-select-full select {
	width: 100%;
	position: relative;
}

.cadastro-3 .cadastro3-conteudo .cadastro3-bloco-form .bloco-cadastro3-conteudo .bloco-select:nth-of-type(odd) {
    padding: 0 30px 0 0;
}

.cadastro-3 .cadastro3-conteudo .cadastro3-bloco-form .bloco-cadastro3-conteudo .bloco-select label, .cadastro-3 .cadastro3-conteudo .cadastro3-bloco-form .bloco-cadastro3-conteudo .bloco-select select {
	width: 100%;
	position: relative;
}

.cadastro-4 {
	padding-top: 60px;
} 

.bloco-cadastro4-conteudo {
	width: 70%;
	margin: auto;
}

.cadastro-4 .bloco-sep-3 .bloco-select-1-3 {
	width: 30%;
	float: left;
}

.cadastro-4 .bloco-sep-3 .bloco-select-1-3:nth-of-type(2) {
	margin: 0 5%; 
}

.cadastro-4 .bloco-select {
	width: 50%;
	float: left;
}

.cadastro-4 .bloco-select-left {
	width: 50%;
	float: left;
}

.cadastro-4 .bloco-select-right {
	padding-right: 20px;
}

.cadastro-4 .bloco-select-small {
	width: 20%;
	float: left;
}

.cadastro-4 .bloco-select-big {
	width: 80%;
	float: left;
	padding-left: 40px;
}

/* CADASTRO 2 */

/* Style the form */
#regForm {
	background-color: #ffffff;
	/* margin: 100px auto; */
	margin: 0px auto;
	padding: 20px;
	/* width: 90%; */
	width: 100%;
	min-width: 300px;
  }
  
  /* Mark input boxes that gets an error on validation: */
  #regForm input.invalid {
	background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  #regForm .tab {
	display: none;
  }

  .tab {
	display: none;
	min-height: 250px;

	background-color: #ffffff;
	margin: 100px auto;
	padding: 40px;
	padding-bottom: 0;
	margin-bottom: 10px;
	/* width: 80%; */
	width: 90%;
	min-width: 300px;
	}

	@media (max-width:800px) {
		.tab {
			padding: 0;
			position: relative;
		}
	}

	/* .tab:first-of-type::after {
		content: " ";
		max-width: 40px;
		width: 100%;
		right: 5%;
		height: 207px;
		background-image: url(../../img/simule/bracket-right.png);
		background-repeat: no-repeat;
		position: absolute;
		display: block;
	}

	@media (max-width: 800px) {
		.tab:first-of-type::after {
			top: 20%;
			display: none;
		}
	} */

	@media (max-width: 500px) {
		.tab:first-of-type::after {
			right: 0%;
		}
	}

	/* .tab:not(:first-of-type)::before {
		content: " ";
		max-width: 40px;
		width: 100%;
		left: 5%;
		height: 207px;
		background-image: url(../../img/simule/bracket-left.png);
		background-repeat: no-repeat;
		position: absolute;
		display: block;
	} */

	/* @media (max-width: 800px) {
		.tab:not(:first-of-type)::before {
			display: none;
		}
	} */

  #regForm .tab .bloco-conteudo {
	  /* width: 50%; */
	  width: 40%;
	  float: left;
	}

	@media (max-width: 800px) {
		#regForm .tab .bloco-conteudo {
			width: 100%;
			float: unset;
		}
	}

	/* #regForm .tab .bloco-conteudo p {
		width: 80%;

	} */

  #regForm .tab .bloco-conteudo .tab-txt {
	font-size: 18px;
    line-height: 20px;
  }

  #regForm .tab .bloco-formulario {
	width: 50%;
	float: left;
	}

	@media (max-width: 800px) {
		#regForm .tab .bloco-formulario {
			width: 100%;
			float: unset;
			}
	}

  #regForm .tab .bloco-formulario .bloco-form-conteudo {
	width: 70%;
	margin: auto;
	}
	
	@media (max-width: 800px) {
		#regForm .tab .bloco-formulario .bloco-form-conteudo {
				width: 100%;
			}
	}

  #regForm .tab .bloco-formulario .bloco-form-conteudo .conteudo-1-2-60 {
	  width: 60%;
	  float: left;
  }

  #regForm .tab .bloco-formulario .bloco-form-conteudo .conteudo-1-2-40{
	  width: 40%;
	  padding-right: 20px;
	  float: left;
  }

  #regForm .tab .bloco-formulario .bloco-form-conteudo .padding-r {
	  padding-right: 10px;
  }

  #regForm .tab .bloco-formulario .bloco-form-conteudo .padding-l {
	padding-left: 10px;
}

  #regForm .tab .bloco-formulario .bloco-form-conteudo .conteudo-1-2-50{
	width: 50%;
	float: left;
}

  #regForm .tab .bloco-formulario .bloco-form-conteudo .conteudo-1-2:nth-of-type(5) {
	  background-color: red;
  }


	#regForm .tab .bloco-formulario .bloco-form-conteudo .bloco-sep-3 .bloco-select-1-3 {
		width: 33%;
		float: left;
	}

	#regForm .tab .bloco-select-1-3:nth-child(1) {
		padding-right: 10px;
	} 

	#regForm .tab .bloco-select-1-3:nth-child(2) {
		padding: 0 10px;
	} 

	#regForm .tab .bloco-select-1-3:nth-child(3) {
		padding-left: 10px;
	} 

	#regForm .tab .bloco-formulario .bloco-form-conteudo .bloco-select-small {
		width: 30%;
		float: left;
	}

	#regForm .tab .bloco-formulario .bloco-form-conteudo .bloco-select-big {
		width: 70%;
		float: left;
	}
  
  /* Make circles that indicate the steps of the form: */
  #regForm .indicacao {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none; 
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
  }
  
  /* Mark the active step: */
  #regForm .indicacao.active2 {
	opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  #regForm .indicacao.finish2 {
	background-color: #4CAF50;
  }

  #regForm .bloco-indicacao {
	  display: none;
  }

  #regForm .prevBtn2 {
	margin-right: 30px;
  }

  #regForm label > input{ /* HIDE RADIO */
	visibility: hidden; /* Makes input not-clickable */
	position: absolute; /* Remove input from document flow */
  }

  #regForm label > input + .img-icon {
	cursor: pointer;
    display: block;
    height: 30px;
    width: 50px !important;
	border: 2px solid transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
  }

  #regForm label > input + .img-icon-visa{ /* IMAGE STYLES */
    background-image: url(../../img/simule/icon-visa.png);
  }

  #regForm label > input + .img-icon-master{ /* IMAGE STYLES */
    background-image: url(../../img/simule/icon-master-card.png);
  }

	#regForm label > input + .img-icon-bradesco{ /* IMAGE STYLES */
    background-image: url(../../img/simule/bradesco.png);
	}
	
	#regForm label > input + .img-icon-hsbc{ /* IMAGE STYLES */
    background-image: url(../../img/simule/HSBC.png);
	}
	
	#regForm label > input + .img-icon-santander{ /* IMAGE STYLES */
    background-image: url(../../img/simule/santander.png);
	}
	
	#regForm label > input + .img-icon-itau{ /* IMAGE STYLES */
    background-image: url(../../img/simule/itau.png);
  }

  #regForm label > input:checked + .img-icon{ /* (RADIO CHECKED) IMAGE STYLES */
	border:2px solid #f00;
  }

  /* area do btn */
  .bloco-controle-btn {
		padding-top: 20px;
    width: 70%;
		clear: both;
		margin: auto;
	}
	
	.bloco-controle-btn .btn-md {
		margin-right: 20px;
	}

	#regForm .bloco-conteudo .txt-pagamento {
		width: 70%;
		font-size: 16px;
	}

/* FIM DO CADASTRO 2 */
