
/*

	Folha de estilo referente a página Home
	by: Grano Studio;
*/

@import "../ui.css";

@media (min-width: 768px) and (max-width: 1199.98px) {
	body {
		overflow-x: hidden;
	}
}


.div1-contato{
	min-height: 50vh;
	width: 100%;
	height: 100%;
}

.bloco-intro-texto .intro-conteudo {
	padding: 0 60px;
	margin: 100px auto 80px;
}

.bloco-intro-texto .intro-titulo {
	font-size: 66px;
}

.bloco-intro-texto .intro-texto {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
}

.bloco-info  .info-item {
	text-align: center;
	margin: 60px 0;
}

.bloco-info  .topo-img{
	max-height: 83px;
	margin-bottom: 20px;
}

.bloco-info  .img-tel{
	background: url(../../img/contato/contato-tel.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 80px;
	background-position: center;
}

.bloco-info  .img-mail{
	background: url(../../img/contato/contato-email.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 80px;
	background-position: center;
}

.bloco-info  .img-form{
	background: url(../../img/contato/contato-form.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 80px;
	background-position: center;
}

.bloco-info  .conteudo-txt {
	font-size: 24px;
	line-height: 24px;
}

.bloco-info  .conteudo-txt .conteudo-titulo{
	color: var(--color-blue);
}

.bloco-info  .conteudo-txt .conteudo-subtitulo{
	color: var(--color-gray2);
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 0;
}

.bloco-info  .conteudo-txt .conteudo-link{
	color: var(--color-red);
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 0;
}

.bloco-info  .conteudo-txt .link-txt{
	color: var(--color-red);
	margin-bottom: 0;
}
.bloco-info  .conteudo-txt .link-txt.tel{
	color: var(--color-gray2);
	margin-bottom: 0;
	text-decoration-color: var(--color-red);
}
.bloco-info  .conteudo-txt .conteudo-txt{
	color: var(--color-gray2);
	margin-bottom: 0;
}