
/*

	Folha de estilo referente a página Home
	by: Grano Studio;
*/

@import "../ui.css";

@media (min-width: 768px) and (max-width: 1199.98px) {
	body {
		overflow-x: hidden;
	}
}


.div1-duvidas{
	background-image: url('../../img/duvidas/perguntas-bg-topo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 50vh;
	width: 100%;
	height: 100%;
	/* padding: 0 130px; */
}

.bloco-intro-texto .intro-conteudo {
	padding: 0 60px;
}

@media (max-width:320px) {
	.bloco-intro-texto .intro-conteudo {
		padding: 0 0;
	}
}

.bloco-intro-texto .intro-titulo {
	font-size: 50px;
	margin-bottom: 40px;
	margin-top: 100px;
}

@media (max-width: 800px) { 
	.bloco-intro-texto .intro-titulo {
		margin-top: 50px;
	}

	.bloco-intro-texto .intro-texto {
		margin-bottom: 60px;
	}
}

@media (max-width: 500px) { 
	.bloco-intro-texto .intro-titulo {
		margin-top: 80px;
	}

	.bloco-intro-texto .intro-texto {
		margin-bottom: 30px;
	}
}

.bloco-intro-texto .intro-texto {
	color: #fff;
	font-size: 25px;
}

.questoes {
	max-width: 610px;
	padding: 15px 0 10px;
	margin: 60px auto 0;
	border-top: 2px solid var(--color-red);
	border-left: 2px solid var(--color-red);
	border-right: 2px solid var(--color-red);
	border-bottom: none;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

@media (max-width: 500px) {
	.questoes {
		margin: 40px auto 0;
	}
}

.questoes .bloco-questoes {
	width: 90%;
	margin: auto;
}

@media (max-width: 800px) {
	.questoes .bloco-questoes {
		
	}
}

.questoes .bloco-questoes .pergunta{
	cursor: pointer;
	position: relative;
	margin-bottom: 27px;
	transition: height 0.4s;
}
.questoes .bloco-questoes .pergunta:before{
	content: '';
	position: absolute;
	bottom: -5px;
	width: 100%;
	height: 2px;
	background-color: var(--color-red);
}
.questoes .bloco-questoes .pergunta:not(:first-of-type) {
	margin-top: 20px;
}

.questoes .bloco-questoes .pergunta .pergunta-topo {
	position: relative;
}

.questoes .bloco-questoes .pergunta .pergunta-topo .pergunta-topo-conteudo {
	width: 100%;
	/*border-bottom: 2px solid var(--color-red);*/
	display: inline-flex;
	margin-bottom:0;
}

.questoes .bloco-questoes .pergunta .btn-perg {
	max-width: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;
	z-index: 20;
	transition: all 0.5s;
}

.questoes .bloco-questoes .pergunta .pergunta-topo .pergunta-topo-conteudo .num-perg {
	font-size: 40px;
	color: var(--color-red);
	font-weight: 400;
	position: absolute;
    left: 0;
    top: 0;
}

.questoes .bloco-questoes .pergunta .pergunta-topo .pergunta-topo-conteudo .titulo-perg {
	color: var(--color-gray2);
	font-weight: 300;
	margin-left: 57px;
	max-width: 450px;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.questoes .bloco-questoes .pergunta .pergunta-conteudo {
	transition: 0.4s;
}

.questoes .bloco-questoes .pergunta .pergunta-conteudo .txt-perg {
    color: var(--color-gray2);
    width: 90%;
    margin: auto;
    padding-left: 29px;
    margin-top: 2px;
    padding-bottom: 16px;
}

@media (max-width: 800px) {
	.questoes .bloco-questoes .pergunta .pergunta-conteudo .txt-perg {
		padding-left: 39px;
	}
}

.perg-inativo {
	display: none;
	width: 90%;
	margin: auto;
	transition: 0.4s;
} 

.questoes .bloco-questoes .pergunta .btn-perg.btn-fecha {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
	transform: rotate(180deg);
    bottom: -8px;
	/* transition: .2s; */
}

.rodape-bloco-dividas {
	width: 100%;
	max-width: 630px;
	margin-top: 40px !important;
	margin: auto;
	height: 50px;
	background: url(../../img/duvidas/bracket-duvidas.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.bloco-finalizacao {
	max-width: 500px;
	margin: 0 auto 40px;
    text-align: center;
}

.bloco-finalizacao .final-txt {
	color: var(--color-red);
	font-size: 24px;
    font-weight: 300;
}