
/*

	Folha de estilo referente a página Guarda-Chuva de Amigos
	by: Grano Studio;
*/


@media (max-width: 800px) {
	.guarda-chuva-amigos {
		width: 100%;		
		float: unset;
	}	
}

/* ======== Div1 Guarda-Chuva ========  */

.div1-guarda-chuva {
	margin: 50px 0;
}

.div1-guarda-chuva .table thead tr th{
	border-top: none;
	text-align: center;
}

.div1-guarda-chuva .table thead tr th:nth-of-type(2){
	border-left: 3px solid var(--color-red);
    border-right: 3px solid var(--color-red);
    padding: 10px 25px;
}

@media (max-width: 575.98px) {
	.div1-guarda-chuva .table thead tr th:nth-of-type(2){
	    padding: 10px 10px 0;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div1-guarda-chuva .table thead tr th:nth-of-type(2){
	    padding: 10px 15px;
	}
}

.div1-guarda-chuva .table thead tr th:nth-of-type(2) p{
	font-size: 25px;
    color: var(--color-red);
    font-weight: 300;
    text-align: left;
    line-height: 32px;
}

@media (max-width: 575.98px) {
	.div1-guarda-chuva .table thead tr th:nth-of-type(2) p{ 
		font-size: 18px;
		line-height: 28px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div1-guarda-chuva .table thead tr th:nth-of-type(2) p{ 
	    font-size: 26px;
	    margin-bottom: 0px;
	}
}

.div1-guarda-chuva .table thead tr th:nth-of-type(2) p img{
	max-width: 16px;
}

.div1-guarda-chuva .table thead tr th:last-of-type{
	padding: 10px 25px;
}

@media (max-width: 575.98px) {
	.div1-guarda-chuva .table thead tr th:last-of-type{
		padding: 10px 5px 0;
	}	
}

@media (min-width: 576px) and (max-width: 800px) {
	.div1-guarda-chuva .table thead tr th:last-of-type{
		padding: 10px 15px;
	}	
}

@media (max-width: 1400px) {
	.div1-guarda-chuva .table thead tr th:last-of-type{
		vertical-align: text-top;
	}	
}

.div1-guarda-chuva .table thead tr th:last-of-type p{
	font-size: 25px;
    color: var(--color-blue-light);
    font-weight: 300;
    text-align: left;
    line-height: 25px;
}

@media (max-width: 575.98px) {
	.div1-guarda-chuva .table thead tr th:last-of-type p{
		font-size: 18px;
		line-height: 28px;
	}	
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div1-guarda-chuva .table thead tr th:last-of-type p{
		font-size: 26px;
		margin-bottom: 0;
	}	
}

.div1-guarda-chuva .col-left-table{
	width: 30%;
	border-right: 3px solid var(--color-red);
	padding-right: 55px;
	vertical-align: middle;
}

@media (max-width: 575.98px) {
	.div1-guarda-chuva .col-left-table{
		width: auto;
		padding: 10px 5px 0 0;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div1-guarda-chuva .col-left-table{
		width: auto;
		padding: 15px;
	}
}

.div1-guarda-chuva .col-left-table p:first-of-type{
	margin-bottom: 0px;
    color: var(--color-blue);
    font-weight: 400;
    font-size: 18px;
}

@media (max-width: 575.98px) {
	.div1-guarda-chuva .col-left-table p:first-of-type{
		margin-bottom: 5px;
	}
}

.div1-guarda-chuva .col-left-table p{
	line-height: 18px;
	margin-bottom: 0;
}

@media (max-width: 575.98px) {
	.div1-guarda-chuva .col-left-table p{
		font-size: 12px;
		line-height: 16px;
	}
}

.div1-guarda-chuva .col-md-table{
	text-align: center;
	width: 30%;
	border-right: 3px solid var(--color-red);
	vertical-align: middle;
}

@media (max-width: 575.98px) {
	.div1-guarda-chuva .col-md-table{
		width: auto;
		padding: 0px;
	}
}

.div1-guarda-chuva .col-md-table p:first-of-type{
	margin-bottom: 0;
    color: var(--color-red);
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
}

@media (max-width: 575.98px) {
	.div1-guarda-chuva .col-md-table p:first-of-type{
		font-size: 20px;
	}
}

.div1-guarda-chuva .col-md-table p:nth-of-type(2){
    font-size: 14px;
    color: lightslategrey;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 18px;
}

@media (max-width: 575.98px) {
	.div1-guarda-chuva .col-md-table p:nth-of-type(2){
		font-size: 12px;
	}
}

.div1-guarda-chuva .col-right-table{
	text-align: center;
	width: 30%;
	padding: 0px 55px 0 15px;
	vertical-align: middle;
}

@media (max-width: 767.98px) {
	.div1-guarda-chuva .col-right-table{
		width: auto;
		padding: 0;
	}	
}

.div1-guarda-chuva .col-right-table p:first-of-type{
	margin-bottom: 0;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    color: var(--color-gray-medium);
}

@media (max-width: 575.98px) {
	.div1-guarda-chuva .col-right-table p:first-of-type{
	    font-size: 18px;
	}	
}

.div1-guarda-chuva .col-right-table p:nth-of-type(2){
    font-size: 14px;
    color: lightslategrey;
}

.div1-guarda-chuva .btn-primary{
	margin: 50px auto;
    display: block;
    width: 348px;
}

@media (max-width: 991.98px) {
	.div1-guarda-chuva .btn-primary{
	    margin: 50px auto 5px;
	    width: 260px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div1-guarda-chuva .btn-primary{
	    width: 230px;
	}	
}

.div1-guarda-chuva .table {
	max-width: 80%;
    margin: auto;
}

/* ======== Fim Div1 Guarda-Chuva ========  */


/* ======== Div2 Guarda-Chuva ========  */

.div2-guarda-chuva .img-colchete{
	width: 25%;
    display: block;
    margin: 0 auto;
    transform: rotate(180deg);
}

@media (max-width: 767.98px) {
	.div2-guarda-chuva .img-colchete{
	   width: 50%;
	}	
}

.div2-guarda-chuva .img-colchete2{
	width: 25%;
    display: block;
    margin: 0 auto;
}

@media (max-width: 767.98px) {
	.div2-guarda-chuva .img-colchete2{
	   width: 50%;
	}	
}

.div2-guarda-chuva .btn-primary:first-of-type{
	margin: 25px auto;
    display: block;
    width: 208px;
}

@media (max-width: 991.98px) {
	.div2-guarda-chuva .btn-primary:first-of-type{
	    width: 149px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div2-guarda-chuva .btn-primary:first-of-type {
	    width: 120px;
	}	
}

.div2-guarda-chuva .btn-primary:last-of-type{
	width: 170px;
    margin: 15px auto;
    display: block;
}

@media (max-width: 991.98px) {
	.div2-guarda-chuva .btn-primary:last-of-type{
	    width: 124px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div2-guarda-chuva .btn-primary:last-of-type {
	    width: 94px;
	}	
}

.div2-guarda-chuva .table {
	width: 70%;
    margin: auto;
}

.div2-guarda-chuva .tr-head{
	color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 30px 30px 5px;
    width: 70%;
    margin: auto;
}

@media (max-width: 575.98px) {
	.div2-guarda-chuva .tr-head{
		color: #fff;
		text-align: center;
	    font-size: 22px;
	    padding: 30px 0px 5px; 
	}	
}

.div2-guarda-chuva .table-div5 p{
	margin-bottom: 0;
	color: #fff;
	font-size: 16px;
}

@media (max-width: 767.98px) {
	.div2-guarda-chuva .table-div5 p{
		font-size: 14px;
	}	
}

.div2-guarda-chuva .table-div5 .col-left-head{
	padding: 30px 0;
    vertical-align: middle;
}

.div2-guarda-chuva .table-div5 .col-left-head p{
	font-size: 26px;
}

@media (max-width: 767.98px) {
	.div2-guarda-chuva .table-div5 .col-left-head p{
		font-size: 20px;
	}	
}

.div2-guarda-chuva .table-div5 .col-md-head{
	padding: 2px 0 15px;
    vertical-align: middle;
    text-align: center;
}

@media (max-width: 767.98px) {
	.div2-guarda-chuva .table-div5 .col-md-head {
		padding: 6px;
	}	
}

.div2-guarda-chuva .table-div5 .col-md-head p{
	font-size: 20px;
}

@media (max-width: 767.98px) {
	.div2-guarda-chuva .table-div5 .col-md-head p {
		font-size: 17px;
	}	
}

.div2-guarda-chuva .table-div5 .col-md-head p:nth-of-type(2){
	border: 2px solid var(--color-red);
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 767.98px) {
	.div2-guarda-chuva .table-div5 .col-md-head p:nth-of-type(2){
		width: 100%;
		padding: 5px;
	}	
}

.div2-guarda-chuva .table-div5 .col-right-head{
	padding: 2px 0 15px;
    vertical-align: middle;
    text-align: center;
}

@media (max-width: 767.98px) {
	.div2-guarda-chuva .table-div5 .col-right-head{
		padding: 0;
	}	
}

.div2-guarda-chuva .table-div5 .col-right-head p{
	font-size: 20px;
}

@media (max-width: 767.98px) {
	.div2-guarda-chuva .table-div5 .col-right-head p{
		font-size: 17px;
	}	
} 

.div2-guarda-chuva .table-div5 .col-right-head p:nth-of-type(2){
	border: 2px solid var(--color-blue-light);
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 767.98px) {
	.div2-guarda-chuva .table-div5 .col-right-head p:nth-of-type(2){
		width: 100%;
		padding: 5px;
	}	
}

.div2-guarda-chuva .table-div5 .col-left-table2{
	width: 35%;
    padding: 4px 0;
    vertical-align: middle;
}

.div2-guarda-chuva .table-div5 .col-md-table2{
	text-align: center;
	padding: 0;
    vertical-align: middle;
}

.div2-guarda-chuva .table-div5 .col-right-table2{
	text-align: center;
	padding: 5px 0;
    vertical-align: middle;
}

.div2-guarda-chuva .bg-gradient .col-sm-10 {
	margin: 0 auto;
}

.div2-guarda-chuva .bg-gradient .col-sm-10 p {
	text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 25px 0 40px;
}

/* ======== Fim Div2 Guarda-Chuva ========  */

/* ======== Div3 Guarda-Chuva ======== */

.div3-guarda-chuva {
	margin-top: 100px;
	position: relative;
}


@media (max-width: 767.98px) {
	.div3-guarda-chuva .img-foguete {
		display: none;
	}	
}

.div3-guarda-chuva .img-foguete:nth-child(1) {
	position: absolute;
    max-width: 200px;
    top: -37%;
    left: 14%;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	.div3-guarda-chuva .img-foguete:nth-child(1) {
	    top: -31%;
    	left: 14%;
    	max-width: 140px;
	}	
}

.div3-guarda-chuva .img-foguete:nth-child(2) {
	position: absolute;
    max-width: 140px;
    top: -9%;
    left: 0%;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	.div3-guarda-chuva .img-foguete:nth-child(2) {
	    max-width: 90px;
	    top: -16%;
	    left: 0%;
	}	
}

.div3-guarda-chuva .img-foguete:nth-child(3) {
	position: absolute;
    max-width: 85px;
    top: -3%;
    left: 17%;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	.div3-guarda-chuva .img-foguete:nth-child(3) {
	    max-width: 70px;
	    top: -3%;
	    left: 7%;
	}	
}

.div3-guarda-chuva h1 {
	color: var(--color-blue-dark);
	font-weight: 300;
}

.div3-guarda-chuva h1 span {
	font-size: 18px;
	position: absolute;
}

.div3-guarda-chuva .col-lg-6 p:first-of-type {
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
}

.div3-guarda-chuva .bg-gradient .col-lg-6 {
	padding-top: 45px;
    padding-bottom: 45px;
}

.div3-guarda-chuva .table  {
	color: #fff;
}

.div3-guarda-chuva .table thead tr th {
	border-top: none;
    font-weight: 300;
    font-size: 20px;
    padding: 5px 0;
}

.div3-guarda-chuva .table thead tr th span {
    font-size: 14px;
    position: absolute;
}

.div3-guarda-chuva .table tbody tr td {
    padding: 5px 0;
}

@media (max-width: 1199.98px) {
	.div3-guarda-chuva .table tbody tr td {
	    width: 75px;
	}	
}

.div3-guarda-chuva .table tbody tr td span {
    font-size: 10px;
    color: darkgrey;
}

.div3-guarda-chuva .footer-div8 {
	padding: 30px 80px;
	text-align: right;
}

@media (max-width: 767.98px) {
	.div3-guarda-chuva .footer-div8 {
		padding: 30px 15px;
		text-align: right;
	}
}

.div3-guarda-chuva .footer-div8 p {
	display: inline;
	font-size: 18px;
	margin-right: 25px;
	color: darkgray;
}

@media (max-width: 767.98px) {
	.div3-guarda-chuva .footer-div8 p {
		font-size: 16px;
		margin-right: 15px;
	}
	.div3-guarda-chuva .footer-div8 .btn-primary {
		padding: 7px 20px;
	}
}

@media (max-width: 380px) {
	.div3-guarda-chuva .footer-div8 p {
		width: 100%;
		float: left;
		text-align: left;
	}
	.div3-guarda-chuva .footer-div8 .btn-primary {
		float: left;
	}
}

.info-div8 {
	font-size: 14px !important;
	color: #fff !important;
}

.div3-guarda-chuva .info-small {
	color: var(--color-blue-light);
	font-size: 12px;
}

/* ======== Fim Div3 Guarda-Chuva ========  */

