
/*

	Folha de estilo referente a página Home
	by: Grano Studio;
*/

@media (min-width: 768px) and (max-width: 1199.98px) {
	body {
		overflow-x: hidden;
	}
}


@media (max-width: 768px){
	.home {
		width: 100%;
	}	
}

.div1-home{
	background-image: url('../../img/home/bg-topo-home.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
	height: 100%;
}

.div1-home .bloco-div1-txt, .div1-home .bloco-div1-img {
	opacity: 0;
}

.div1-home .bloco-ativo {
	opacity: 1 !important;
	transition: 2s;
}

#div1-img {
	transition: all 1s;
}

#div1-img:hover {
	background-size: 95% !important;
	transition: all 1s;
}

.home .cabecalho-login{
	text-align: right;
    padding: 35px 25px;
    position: fixed;
    /* width: 90%;*/
	width: 50%;
    right: 0;
    z-index: 20;
    /* z-index: 26; */
}

@media (max-width: 767.98px) {
	.home .cabecalho-login {
		width: 100%;
		z-index: 15;
	}
}

.change-cabecalho-login a {
	color: black;
}

.home .cabecalho-login a:first-of-type{
	margin: 0 25px;
}

.home .change-cabecalho-login a:first-of-type {
	color: black !important;
}

@media (min-width: 768px) and (max-width: 991.98px){
	.div1-home .col-md-5{
		padding-top: 50px;
	}	
}

@media (min-width: 1200px){
	.div1-home .col-md-5{
		padding-left: 60px;
		padding-top: 120px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px){
	.div1-home .col-md-5{
		padding-left: 45px;
		padding-top: 75px;
		margin-bottom: 50px;
	}	
}


.div1-home .col-md-5 h1{
	color: #fff;
    font-size: 66px;
    font-weight: 300;
    margin-bottom: 45px;
}
@media (max-width: 575.98px) {
	.div1-home .col-md-5 h1 {
        font-size: 45px;
        margin-bottom: 10px;
	}
}

@media (max-width: 767.98px) {
	.div1-home .col-md-5 h1 {
		margin-top: 100px;
	}
}

@media(min-width: 768px) and (max-width: 991.98px){
	.div1-home .col-md-5 h1{
	    font-size: 60px;
	}	
}

@media(min-width: 992px) and (max-width: 1199.98px){
	.div1-home .col-md-5 h1{
	    font-size: 70px;
	}	
}



.div1-home .col-md-5 p:first-of-type{
	color: #fff;
    font-size: 26px;
    line-height: 28px;
    font-weight: 100;
    margin-bottom: 35px;
}
@media (max-width: 575.98px) {
	.div1-home .col-md-5 p:first-of-type {
        font-size: 19px;
        margin-bottom: 10px;
	}
}


@media (max-width: 767.98px) {
	.div1-home .col-md-5 p:first-of-type{
	    font-size: 24px;
	}
}

@media(min-width: 768px) and (max-width: 991.98px){
	.div1-home .col-md-5 p:first-of-type{
	    font-size: 20px;
	}
}

@media(min-width: 992px) and (max-width: 1199.98px){
	.div1-home .col-md-5 p:first-of-type{
	    font-size: 24px;
	}
}

.div1-home .col-md-5 p:last-of-type{
	color: #fff;
    font-size: 18px;
    margin-bottom: 45px;
}

@media (max-width: 767.98px) {
	.div1-home .col-md-5 p:last-of-type{
	    font-size: 16px;
	}
}

@media(min-width: 768px) and (max-width: 1199.98px){
	.div1-home .col-md-5 p:last-of-type{
	    font-size: 16px;
	}
}

.div1-home .col-md-5 .btn-primary:hover{
	color: #fff;
}

.div1-home .col-md-7{
	background-image: url('../../img/home/home-celular.png');
	background-position: center;
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-size: 100%;	
	height: 600px;
	margin-bottom: 15px;
}

@media (max-width: 575.98px) {
	.div1-home .col-md-7{
	    height: 370px;
	    display: none;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div1-home .col-md-7{
	    height: 370px;
	    width: 445px;
	    margin: 0 auto;
	}
}

@media(min-width: 768px) and (max-width: 991.98px){
	.div1-home .col-md-7{
		background-size: contain;
		margin-bottom: 55px;
	}
}

@media(min-width: 992px) and (max-width: 1199.98px){
	.div1-home .col-md-7{
		background-size: contain;
		margin-bottom: 40px;
	}
}

/* ======== Fim div1-home ========  */

.div2-home .cabecalho-login .btn-primary:hover{
	color: var(--color-red);
}

.div2-home .titulo {
	text-align: center;
	padding-top: 50px;
}

.div2-home .titulo h1 {
	font-weight: 400;
}

.div2-home .titulo p:first-of-type {
	font-size: 25px;
	margin: 5px 0 0;
	line-height: 25px;
}

.div2-home .titulo p:last-of-type {
	font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 50px;
    color: var(--color-blue-dark);
}

.div2-home .tabela-comofunciona div{
	padding: 0 75px 50px;
    text-align: center;
}

@media (max-width: 767.98px) {
	.div2-home .tabela-comofunciona div{
		padding: 0 35px 50px;
	}
}

.div2-home .tabela-comofunciona div img{
    max-width: 130px;
    margin: 0 auto 20px;
    display: block;
}
.div2-home .tabela-comofunciona div:first-child img {
	margin: 20px auto;
}
.div2-home .tabela-comofunciona div:nth-of-type(3) img {
    margin: 2px auto;
}

.div2-home .tabela-comofunciona div p{
    font-size: 16px;
    line-height: 18px;
	margin-bottom: 5px;
	color: var(--color-gray-medium);
}

/* ======== Fim div2-home ========  */

.div3-home .titulo{
	text-align: center;
}

.div3-home .titulo h1{
	color: var(--color-red);
	margin: 100px 0 10px 0;
}

@media (max-width: 575.98px) {
	.div3-home .titulo h1{
		margin: 75px 0 30px 0;
		font-size: 38px;
	}	
}

.div3-home .titulo h1 img{
	max-width: 25px;
	margin: -12px 0px 0 0;
}

.div3-home .titulo .img{
	margin: 25px auto;
	display: block;
	width: 50%;
}

@media (max-width: 575.98px) {
	.div3-home .titulo .img{
		margin: 25px auto;
		width: 65%;
	}	
}

.div3-home .titulo p{
	font-size: 24px;
	width: 45%;
	margin: 0 auto;
	line-height: 28px;
	color: var(--color-gray-medium);
}

@media (max-width: 575.98px) {
	.div3-home .titulo p{
		width: 100%;
		font-size: 22px;
	}	
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div3-home .titulo p{
		width: 85%;
		margin: 30px auto 35px;
	}	
}

.div3-home .logo-principal{
	width: 400px !important;
	margin: 20px auto;
	display: block;
	left: 50%;
	top: 225px;
	margin-left: -200px;
	position: absolute;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logo-principal {
		width: 330px !important;
		margin-left: -165px;
	}
}

.div3-home .logos{
	width: 100%;
	position: relative;
	height: 1000px;
}

@media (max-width: 767.98px) {
	.div3-home .logos{
		display: none;
	}
}

.div3-home .logos .items{
	position: absolute;
}

.div3-home .logos .items img{
	width: 80px;
	margin: 0 auto;
	display: block;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items img{
		width: 65px;
	}	
}

.div3-home .logos .items p{
	line-height: 18px;
	font-size: 16px;
	margin-bottom: 0px;
	text-align: center;
	color: var(--color-gray-medium);
}

.div3-home .logos .items p:nth-of-type(2){
	color: var(--color-blue-dark);
	font-weight: 400;
}

.div3-home .logos .items p:nth-of-type(3){
	color: var(--color-blue-light);
	font-weight: 300;
}

/*  item1  */

.div3-home .logos .items:first-of-type{
	left: 50%;
	margin-left: -46px;
	top: 0;
	margin-top: -30px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:first-of-type{
		margin-top: 0px;
	}	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.div3-home .logos .items:first-of-type{
		margin-top: -10px;
	}
}
/*  item1  */

/*  item2  */

.div3-home .logos .items:nth-of-type(2) {
	right: 18%;
	top: 11%;
}

.div3-home .logos .items:nth-of-type(2) img {
	width: 120px;
    margin-right: 50%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(2) {
		right: 3%;
		top: 12%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div3-home .logos .items:nth-of-type(2) {
		right: 9%;
		top: 10%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(2) img {
		width: 90px;
    	margin-right: 35%;
	}
}


/*  item2  */

/*  item3  */

.div3-home .logos .items:nth-of-type(3){
	right: 10%;
	top: 38.4%;
}

.div3-home .logos .items:nth-of-type(3) img{
	width: 150px;
    margin-left: -20px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(3) {
		right: -1%;
    	top: 37.2%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div3-home .logos .items:nth-of-type(3) {
		right: 2%;
    	top: 38.2%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(3) img {
		width: 90px;
    	margin-left: 20px;
	}
}

/*  item3  */

/*  item4  */

.div3-home .logos .items:nth-of-type(4){
	right: 20%;
	bottom: 17%;
}
.div3-home .logos .items:nth-of-type(4) img{
	width: 150px;
    margin-left: -20px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(4) {
		right: 8%;
    	bottom: 28%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div3-home .logos .items:nth-of-type(4) {
		right: 12%;
    	bottom: 19%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(4) img {
		width: 110px;
    	margin-left: 0px;
	}
}

/*  item4  */

/*  item5  */

.div3-home .logos .items:nth-of-type(5){
    left: 50%;
    margin-left: -126px;
    bottom: 5%;
}

.div3-home .logos .items:nth-of-type(5) img{
	width: 120px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(5) {
    	bottom: 17%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div3-home .logos .items:nth-of-type(5) {
    	bottom: 8%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(5) img {
		width: 95px;
	}
}

/*  item5  */

/*  item6  */

.div3-home .logos .items:nth-of-type(6){
    left: 22%;
    bottom: 21%;
}

.div3-home .logos .items:nth-of-type(6) img{
	width: 120px;
	margin-right: -25px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(6) {
		left: 12%;
    	bottom: 29%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div3-home .logos .items:nth-of-type(6) {
		left: 15%;
    	bottom: 21%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(6) img {
		width: 100px;
		margin-right: -20px;
	}
}

/*  item6  */

/*  item7  */

.div3-home .logos .items:nth-of-type(7){
    left: 14%;
    bottom: 47%;
}

.div3-home .logos .items:nth-of-type(7) img{
	width: 150px;
	margin-right: -58px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(7) {
		left: 4%;
    	bottom: 52%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div3-home .logos .items:nth-of-type(7) {
		left: 7%;
    	bottom: 47.2%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(7) img {
		width: 110px;
		margin-right: -38px;
	}
}
/*  item7  */

/*  item8  */

.div3-home .logos .items:nth-of-type(8){
	left: 20%;
	top: 9%;
}

.div3-home .logos .items:nth-of-type(8) img{
	width: 115px;
	margin-right: 0px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(8) {
		left: 7%;
    	top: 11%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div3-home .logos .items:nth-of-type(8) {
		left: 11%;
    	top: 8%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-home .logos .items:nth-of-type(8) img {
		width: 90px;
		margin-right: 20px;
	}
}
/*  item8  */

/*  Logos Mobile  */

.div3-home .logos-mobile {
	margin-bottom: 40px;
}

@media (min-width: 768px) {
	.div3-home .logos-mobile {
		display: none;
	}
}

.div3-home .logos-mobile .items {
	margin-bottom: 35px;
}

.div3-home .logos-mobile .items img{
	width: 100px;
	margin: 0 auto;
	display: block;
}

.div3-home .logos-mobile .items p{
	line-height: 18px;
	font-size: 15px;
	margin-bottom: 0px;
	text-align: center;
}

.div3-home .logos-mobile .items p:nth-of-type(2){
	color: var(--color-blue);
	font-weight: 400;
}

.div3-home .logos-mobile .items p:nth-of-type(3){
	color: var(--color-blue-light);
	font-weight: 300;
}

/*  Logos Mobile  */

.div3-home .muito-mais h5{
	font-size: 26px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 15px;
}

.div3-home .muito-mais img{
	width: 95%;
	margin: 0 auto;
	display: block;
}

.div3-home .muito-mais .row{
	padding: 0 50px;
}

@media (max-width: 767.98px) {
	.div3-home .muito-mais .row{
		padding: 5px 30px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div3-home .muito-mais .row{
		padding: 0px 50px;
	}	
}

@media (max-width: 1199.98px) {
	.div3-home .muito-mais .col-6{
		margin-bottom: 25px;
	}	
}

.div3-home .muito-mais .col-6 p{
	margin-bottom: 0;
    font-size: 12px;
	line-height: 16px;
	color: var(--color-gray-medium);
}

.div3-home .muito-mais .col-6 .destaque{
	margin-bottom: 5px;
    font-size: 25px !important;
    color: var(--color-blue-dark);
    line-height: 28px !important;
}

@media (max-width: 767.98px) {
	.div3-home .muito-mais .col-6 .destaque{
		font-size: 22px !important;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
	.div3-home .muito-mais .col-6 .destaque{
		font-size: 22px !important;
	}
}
@media (max-width: 575.98px) {
	.div3-home .muito-mais .col-6 .destaque{
		font-size: 17px !important;
	    line-height: 17px !important;
	}	
}

.div3-home .bloco-muito-mais {
	position: relative;
	padding-top: 16px;
}
@media (max-width: 991.98px) {
	.div3-home .bloco-muito-mais {
	    padding-top: 0;
	}
}

.div3-home .bloco-muito-mais:last-of-type {
	padding-top: 0;
	margin-top: -11px;
}
@media (max-width: 991.98px) {
	.div3-home .bloco-muito-mais:last-of-type {
	    margin-top: 0;
	}
}

.div3-home .bloco-muito-mais-ate {
	padding-top: 0px;
}

.div3-home .bloco-muito-mais:not(:last-of-type)::after {
	content: "";
	position: absolute;
	background: url(../../img/home/home-bloco-mais.png);
	background-size: contain;
	width: 18px;
	height: 18px;
	right: -5px;
    top: calc(50% - 36px);
}

@media (max-width: 991.98px) {
	.div3-home .bloco-muito-mais:not(:last-of-type)::after{
		display:none;
	}
}

.div3-home .bloco-muito-mais {
	position: relative;
	padding-top: 16px;

}

.div3-home .bloco-muito-mais:last-of-type {
	padding-top: 0;
	margin-top: -11px;
}

.div3-home .bloco-muito-mais-ate {
	padding-top: 0px;
}

.div3-home .bloco-muito-mais:not(:last-of-type)::after {
	content: "";
	position: absolute;
	background: url(../../img/home/home-bloco-mais.png);
	background-size: contain;
	width: 18px;
	height: 18px;
	right: -5px;
    top: calc(50% - 36px);
}

/* ======== Fim div3-home ========  */

/* ======== Fim div4-home ========  */

.div4-home{
	margin-top: 100px;
}

.div4-home .table thead tr th{
	border-top: none !important;
    text-align: center;
    border-bottom: 1px solid;
}

.div4-home .table thead tr th:nth-of-type(2){
	border-left: 3px solid var(--color-red);
    border-right: 3px solid var(--color-red);
    padding: 10px 20px;
}

.table th, .table td{
	border-top: 2px solid #cdcdcd !important;
}

@media (max-width: 575.98px) {
	.div4-home .table thead tr th:nth-of-type(2){
	    padding: 10px 10px 0;
	    border-left: 1px solid var(--color-red);
    border-right: 1px solid var(--color-red);
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div4-home .table thead tr th:nth-of-type(2){
	    padding: 10px 15px;
	}
}

.div4-home .table thead tr th:nth-of-type(2) p{
	font-size: 25px;
    color: var(--color-red);
    font-weight: 300;
    text-align: left;
    line-height: 32px;
}

@media (max-width: 575.98px) {
	.div4-home .table thead tr th:nth-of-type(2) p{ 
		font-size: 14px;
	    line-height: 18px;
	}
}


@media (min-width: 576px) and (max-width: 767.98px) {
	.div4-home .table thead tr th:nth-of-type(2) p{ 
	    font-size: 22px;
	    margin-bottom: 0px;
	}
}

.div4-home .table thead tr th:nth-of-type(2) p img{
	max-width: 16px;
}

.div4-home .table thead tr th:last-of-type{
	padding: 10px 25px;
	vertical-align: text-top;
}

@media (max-width: 575.98px) {
	.div4-home .table thead tr th:last-of-type{
		padding: 10px 5px 0;
	}	
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div4-home .table thead tr th:last-of-type{
		padding: 10px 15px;
	}	
}

.div4-home .table thead tr th:last-of-type p{
	font-size: 25px;
    color: var(--color-blue-light);
    font-weight: 300;
    text-align: left;
    line-height: 25px;
}

@media (max-width: 575.98px) {
	.div4-home .table thead tr th:last-of-type p{
		font-size: 18px;
		line-height: 28px;
		font-size: 14px;
	    line-height: 18px;
	}	
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div4-home .table thead tr th:last-of-type p{
		font-size: 22px;
		margin-bottom: 0;
	}	
}

.div4-home .col-left-table{
	/* width: 40%; */
	width: 30%;
	border-right: 3px solid var(--color-red);
	padding-right: 55px;
	vertical-align: middle;
}

@media (max-width: 575.98px) {
	.div4-home .col-left-table{
		width: auto;
		padding: 10px 5px 10px 0;
		border-right: 1px solid var(--color-red);
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div4-home .col-left-table{
		width: auto;
		padding: 15px;
	}
}

.div4-home .col-left-table p:first-of-type{
	margin-bottom: 0px;
    color: var(--color-blue-dark);
    font-weight: 400;
    font-size: 18px;
}

@media (max-width: 575.98px) {
	.div4-home .col-left-table p:first-of-type{
		margin-bottom: 2px;
		font-size: 12px;
	}
}

.div4-home .col-left-table p{
	line-height: 18px;
	margin-bottom: 0;
	color: var(--color-gray-medium);
}

@media (max-width: 575.98px) {
	.div4-home .col-left-table p{
		font-size: 10px;
		line-height: 14px;
	}
}

.div4-home .col-md-table{
	text-align: center;
	width: 30%;
	border-right: 3px solid var(--color-red);
	vertical-align: middle;
}

@media (max-width: 575.98px) {
	.div4-home .col-md-table{
		width: auto;
		padding: 0px;
		border-right: 1px solid var(--color-red);
	}
}

.div4-home .col-md-table p:first-of-type{
	margin-bottom: 0;
    color: var(--color-red);
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
}

@media (max-width: 575.98px) {
	.div4-home .col-md-table p:first-of-type{
		font-size: 13px;
	}
}

.div4-home .col-md-table p:nth-of-type(2){
    font-size: 14px;
    color: lightslategrey;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 18px;
}

@media (max-width: 575.98px) {
	.div4-home .col-md-table p:nth-of-type(2){
		font-size: 10px;
	    line-height: 10px;
	    padding: 5px;
	}
}

.div4-home .col-right-table{
	text-align: center;
	width: 30%;
	padding: 0px 55px 0 15px;
	vertical-align: middle;
}

@media (max-width: 767.98px) {
	.div4-home .col-right-table{
		width: auto;
		padding: 0;
	}	
}

.div4-home .col-right-table p:first-of-type{
	margin-bottom: 0;
    font-size: 25px;
    font-weight: 300;
	line-height: 30px;
	color: var(--color-gray-medium);
}

@media (max-width: 575.98px) {
	.div4-home .col-right-table p:first-of-type{
	    font-size: 13px;
	}	
}

.div4-home .col-right-table p:nth-of-type(2){
    font-size: 14px;
    color: lightslategrey;
}

.div4-home .btn-primary{
	margin: 40px auto;
    display: block;
	width: 348px;
	margin-bottom: 0;
}

@media (max-width: 991.98px) {
	.div4-home .btn-primary{
	    margin: 50px auto 5px;
	    width: 260px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div4-home .btn-primary{
	    width: 230px;
	}	
}

.div4-home .table {
	max-width: 80%;
    margin: auto;
}


/* ======== Fim div4-home ========  */

/* ======== Fim div5-home ========  */

.div5-home .table {
	width: 70%;
	margin: auto;
} 

.div5-home .img-colchete{
	width: 25%;
    display: block;
    margin: 0 auto;
    transform: rotate(180deg);
}

@media (max-width: 767.98px) {
	.div5-home .img-colchete{
	   width: 50%;
	}	
}

.div5-home .img-colchete2{
	display: block;
    max-width: 200px;
    margin: 0 auto;
}

@media (max-width: 767.98px) {
	.div5-home .img-colchete2{
	   /* width: 50%; */
	}	
}

.div5-home .btn-primary:first-of-type{
	margin: 25px auto;
    display: block;
    width: 208px;
}

@media (max-width: 991.98px) {
	.div5-home .btn-primary:first-of-type{
	    width: 149px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div5-home .btn-primary:first-of-type {
	    width: 120px;
	}	
}

.div5-home .btn-primary:last-of-type{
	width: 170px;
    margin: 15px auto;
    display: block;
}

@media (max-width: 991.98px) {
	.div5-home .btn-primary:last-of-type{
	    width: 124px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div5-home .btn-primary:last-of-type {
	    width: 94px;
	}	
}

.div5-home .tr-head{
	color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 30px 30px 5px;
    width: 70%;
    margin: auto;
}

@media (max-width: 575.98px) {
	.div5-home .tr-head{
		color: #fff;
		text-align: center;
	    font-size: 14px;
	    padding: 30px 0px 5px; 
	}	
}

.div5-home .table-div5 p{
	margin-bottom: 0;
	color: #fff;
	font-size: 16px;
}

@media (max-width: 767.98px) {
	.div5-home .table-div5 p{
		font-size: 14px;
	}	
}

.div5-home .table-div5 .col-left-head{
	padding: 30px 0;
    vertical-align: middle;
}

.div5-home .table-div5 .col-left-head p{
	font-size: 26px;
}



@media (max-width: 767.98px) {
	.div5-home .table-div5 .col-left-head p{
		font-size: 20px;
	}	
}

@media (max-width: 575.98px) {
	.div5-home .table-div5 .col-left-head p{
		font-size: 17px;
	}	
}

.div5-home .table-div5 .col-md-head{
	padding: 2px 0 15px;
    vertical-align: middle;
    text-align: center;
}

@media (max-width: 767.98px) {
	.div5-home .table-div5 .col-md-head {
		padding: 6px;
	}	
}

.div5-home .table-div5 .col-md-head p{
	font-size: 20px;
}

@media (max-width: 767.98px) {
	.div5-home .table-div5 .col-md-head p {
		font-size: 17px;
	}	
}
@media (max-width: 575.98px) {
	.div5-home .table-div5 .col-md-head p{
		font-size: 14px;
	}	
}

.div5-home .table-div5 .col-md-head p:nth-of-type(2){
	border: 2px solid var(--color-red);
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 767.98px) {
	.div5-home .table-div5 .col-md-head p:nth-of-type(2){
		width: 100%;
		padding: 5px;
	}	
}

.div5-home .table-div5 .col-right-head{
	padding: 2px 0 15px;
    vertical-align: middle;
    text-align: center;
}

@media (max-width: 767.98px) {
	.div5-home .table-div5 .col-right-head{
		padding: 0;
	}	
}

.div5-home .table-div5 .col-right-head p{
	font-size: 20px;
}

@media (max-width: 767.98px) {
	.div5-home .table-div5 .col-right-head p{
		font-size: 17px;
	}	
} 

@media (max-width: 575.98px) {
	.div5-home .table-div5 .col-right-head p{
		font-size: 14px;
	}	
}


.div5-home .table-div5 .col-right-head p:nth-of-type(2){
	border: 2px solid var(--color-blue-light);
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 767.98px) {
	.div5-home .table-div5 .col-right-head p:nth-of-type(2){
		width: 100%;
		padding: 5px;
	}	
}

.div5-home .table-div5 .col-left-table2{
	width: 35%;
    padding: 4px 0;
    vertical-align: middle;
}

.div5-home .table-div5 .col-md-table2{
	text-align: center;
	padding: 0;
    vertical-align: middle;
}

.div5-home .table-div5 .col-right-table2{
	text-align: center;
	padding: 5px 0;
    vertical-align: middle;
}

.div5-home .bg-gradient .col-sm-10 {
	margin: 0 auto;
}

.div5-home .bg-gradient .col-sm-10 p {
	text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 25px 0 40px;
}
@media (max-width: 575.98px) {
	.div5-home .bg-gradient .col-sm-10 p {
		font-size: 14px;
	}	
}


/* ======== Fim div5-home ========  */


/* ======== Fim div6-home ========  */

.div6-home{
	/* height: 110vh; */
	height: auto;
	width: 100%;
	margin: 100px 0 0;
}

@media (max-width: 1199.98px) {
	.div6-home{
		height: auto;
		margin: 40px 0 0;
	}	
}

@media (max-width: 767.98px) {
	.fundo-branco {
		background-color: #fff;
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 1500px) and (min-width: 800px) {
	.div6-home .container {
		width: 100%;
		max-width: 100%;
	}
}

@media (min-width: 576px) and (max-width: 1199.98px) {
	.div6-home .container {
		padding: 0 15px;
		width: 100%;
	}
}
@media (max-width: 767.98px) {
	.div6-home .btn-md{
		display:block;
	}
	.bloco-comp-graf .bloco-brack{
		 margin: 10px auto;

	}

}

.box-9 {
	float: left;
	width: 380px;
	height: 110vh;
	background-color: #fff;
	position: relative;
}

@media screen and (max-width: 1040px) {
	.box-9 {
		width: 340px;
	}
}

#tool-plano-saude, #tool-plano-basico {
	max-width: 320px;
    position: fixed;
    z-index: 20;
} 

@media (max-width: 800px) {
	#tool-plano-saude {
		left: 80%;
	} 
}

#tool-plano-saude{
	top: 15%;
}

#tool-plano-basico {
	top: 55%;
	left: 30%;
}

@media (max-width: 800px) {
	#tool-plano-basico {
		top: 55%;
		left: 80%;
	}
}

.saude-inativo {
	display: none;
	left: 25%;
}

.basico-inativo {
	display: none;
	left: 10%;
}

.saude-ativo {
	display: block;
	left: 40%;
	transition: 1s; 
} 

.basico-ativo {
	display: block;
	left: 33%;
	transition: 1s; 
} 

/* .box-9 #bloco-plano-saude:hover #tool-plano-saude {
	display: block;
	position: absolute;
} */

@media (min-width: 768px) and (max-width: 991.98px) {
	.box-9 {
		/* width: 450px; */
		width: 100%;
	}	
}

.box-9 img {
	max-width: 350px;
	margin-left: -74px;
	margin-top: 60px;
}

@media (max-width: 800px) {
	.box-9 img {
		margin-left: 0px;
	}	
}

@media (max-width: 500px) {
	.box-9 img {
		margin-left: -150px;
	}	
}

.box-10 {
	float: left;
	border-left: 135px solid #fff;
	border-top: 55vh solid transparent;
	border-bottom: 55vh solid transparent;
}

@media (max-width: 800px) {
	.box-10 {
		display: none;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {

	.box-10 {
		border-left: 110px solid #fff;
	}	
} 

.bracket {
	width: 180px;
    float: left;
}

@media (max-width: 1500px) and (min-width: 800px) {
	.bracket {
		margin-left: -1px;
	}
	
}

@media (max-width:1200px) {
	.bracket {
		width: 155px;
	}
}

@media (max-width:800px) {
	.bracket {
		display: none;
	}
}

/*   bullets numero 1 do gráfico   */
.box-9 .numeros-1 {
	position: absolute;
	color: var(--color-blue-light);
	font-size: 18px;
}

.box-9 .numeros-1:first-of-type {
	top: 28%;
	left: 21%;
}

@media (max-width: 1200px) {
	.box-9 .numeros-1:first-of-type  {
		top: 30%;
		left: 31%;
	}	
}

@media (max-width: 800px) {
	.box-9 .numeros-1:first-of-type  {
		top: 30%;
    	left: 24%;
	}	
}

@media (max-width: 500px) {
	.box-9 .numeros-1:first-of-type  {
		top: 30%;
		left: 12%;
	}	
}

.box-9 .numeros-1:nth-of-type(2) {
	top: 35%;
    left: 33%;
}

@media (max-width: 1200px) {
	.box-9 .numeros-1:nth-of-type(2) {
		top: 38%;
		left: 44%;
	}
}

@media (max-width: 800px) {
	.box-9 .numeros-1:nth-of-type(2) {
		top: 38%;
		left: 29%;
	}	
}

@media (max-width: 500px) {
	.box-9 .numeros-1:nth-of-type(2)  {
		top: 38%;
		left: 22%;
	}	
}

.box-9 .numeros-1:nth-of-type(3) {
	top: 43%;
	left: 37%;
}

@media (max-width: 1200px) {
	.box-9 .numeros-1:nth-of-type(3) {
		top: 47%;
		left: 46%;
	}	
}

@media (max-width: 800px) {
	.box-9 .numeros-1:nth-of-type(3) {
		top: 47%;
		left: 30%;
	}	
}

@media (max-width: 500px) {
	.box-9 .numeros-1:nth-of-type(3) {
		top: 47%;
		left: 23%;
	}	
}

.box-9 .numeros-1:nth-of-type(4) {
	top: 53%;
	left: 35%;
}

@media (max-width: 1200px) {
	.box-9 .numeros-1:nth-of-type(4) {
		top: 58%;
		left: 45%;
	}	
}

@media (max-width: 800px) {
	.box-9 .numeros-1:nth-of-type(4) {
		top: 59%;
		left: 30%;
	}	
}

@media (max-width: 500px) {
	.box-9 .numeros-1:nth-of-type(4) {
		top: 59%;
	}	
}

.box-9 .numeros-1:nth-of-type(5) {
	top: 62%;
	left: 27%;
}

@media (max-width: 1200px) {
	.box-9 .numeros-1:nth-of-type(5) {
		top: 70%;
    	left: 35%;
	}	
}

@media (max-width: 800px) {
	.box-9 .numeros-1:nth-of-type(5) {
		top: 70%;
    	left: 25%;
	}	
}

@media (max-width: 500px) {
	.box-9 .numeros-1:nth-of-type(5) {
		top: 70%;
    	left: 14%;
	}	
}

.box-9 .numeros-1:nth-of-type(6) {
    bottom: 27%;
    left: 9%;
}

@media (max-width: 1200px) {
	.box-9 .numeros-1:nth-of-type(6) {
		bottom: 17%;
		left: 10%;
	}	
}

@media (max-width: 800px) {
	.box-9 .numeros-1:nth-of-type(6) {
		bottom: 17%;
		left: 15%;
	}	
}

@media (max-width: 500px) {
	.box-9 .numeros-1:nth-of-type(6) {
		bottom: 18%;
		left: 3%;
	}	
}

/*   bullets numero 1 do gráfico   */

/*   bullets numero 2 do gráfico   */
.box-9 .numeros-2 {
	position: absolute;
}

.box-9 .numeros-2 p:first-of-type{
	float: left;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-red);
}

.box-9 .numeros-2 p:last-of-type{
	line-height: 16px;
}

.box-9 .numeros-2 p:last-of-type span{
	font-size: 18px;
}

.box-9 .numeros-2:nth-of-type(7) {
	top: 15%;
    left: 47%;
}

@media (max-width: 800px) {
	.box-9 .numeros-2:nth-of-type(7) {
		top: 20%;
		left: 40%;
	}	
}

@media (max-width: 500px) {
	.box-9 .numeros-2:nth-of-type(7) {
		top: 20%;
		left: 40%;
		width: 200px;
	}	
}

.box-9 .numeros-2:nth-of-type(8) {
	top: 29%;
    left: 63%;
    width: 140px;
}

@media (max-width: 1200px) {
	.box-9 .numeros-2:nth-of-type(8) {
		top: 30%;
		left: 75%;
	}	
}

@media (max-width: 800px) {
	.box-9 .numeros-2:nth-of-type(8) {
		top: 32%;
		left: 45%;
	}	
}

@media (max-width: 500px) {
	.box-9 .numeros-2:nth-of-type(8) {
		left: 55%;
		top: 32%;
	}	
}

.box-9 .numeros-2:nth-of-type(9) {
	top: 41%;
    left: 71%;
    width: 140px;
}

@media (max-width: 1200px) {
	.box-9 .numeros-2:nth-of-type(9) {
		top: 45%;
		left: 80%;
	}	
}

@media (max-width: 800px) {
	.box-9 .numeros-2:nth-of-type(9) {
		top: 46%;
		left: 48%;	
	}	
}

@media (max-width: 500px) {
	.box-9 .numeros-2:nth-of-type(9) {
		left: 60%;
		top: 45%;
	}	
}

.box-9 .numeros-2:nth-of-type(10) {
    top: 57%;
    left: 68%;
	/* width: 135px; */
	width: 214px;
}

@media (max-width: 1200px) {
	.box-9 .numeros-2:nth-of-type(10) {
		top: 61%;
		left: 78%;
	}
}

@media (max-width: 800px) {
	.box-9 .numeros-2:nth-of-type(10) {
		top: 63%;
		left: 46%;
	}
}

@media (max-width: 500px) {
	.box-9 .numeros-2:nth-of-type(10) {
		top: 60%;
		left: 55%;
		width: 55%;
	}
}

.box-9 .numeros-2:nth-of-type(11) {
    top: 72%;
    left: 58%;
    width: 200px;
}

@media (max-width: 1200px) {
	.box-9 .numeros-2:nth-of-type(11) {
		top: 77%;
		left: 66%;
	}
}

@media (max-width: 800px) {
	.box-9 .numeros-2:nth-of-type(11) {
		top: 79%;
		left: 41%;	
	}
}

@media (max-width: 500px) {
	.box-9 .numeros-2:nth-of-type(11) {
		top: 78%;
    	left: 42%;
	}
}

.box-9 .numeros-2:nth-of-type(12) {
	top: 85%;
    left: 38%;
    width: 220px;
}

@media (max-width: 1200px) {
	.box-9 .numeros-2:nth-of-type(12) {
		top: 92%;
		left: 30%;
	}
}

@media (max-width: 800px) {
	.box-9 .numeros-2:nth-of-type(12) {
		top: 92%;
		left: 18%;
	}
}

/*   bullets numero 2 do gráfico   */

.div6-home .col-xl-6:last-of-type {
	padding: 0 40px;
}

@media (max-width: 767.98px) {
	.div6-home .col-xl-6:last-of-type {
		padding: 0 15px;
	}	
}

.div6-home .col-xl-6:last-of-type p {
	color: #fff;
	font-size: 16px;
}

.div6-home .col-xl-6:last-of-type p:first-of-type {
	margin-bottom: 40px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div6-home .col-xl-6:last-of-type p:first-of-type {
		margin-bottom: 30px;
	}	
}

.div6-home .col-xl-6:last-of-type img:last-of-type {
	width: 260px;
	/* margin: 30px 80px; */
	margin: 30px 50px;

}

@media (max-width: 767.98px) {
	.div6-home .col-xl-6:last-of-type img:last-of-type {
		margin: 30px 25px;
	}	
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div6-home .col-xl-6:last-of-type img:last-of-type {
		margin: 30px 30px;
		width: 260px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div6-home .col-xl-6:last-of-type img:last-of-type {
		margin: 30px 25px;
		width: 240px;
	}		
} 

.div6-home .col-xl-6:last-of-type .grafico1 {
	height: 12px;
	/* width: 200px; */
	background-color: var(--color-blue-light);
	margin-bottom: 12px;
}

.div6-home .col-xl-6:last-of-type .graf1-inativo {
	width: 100px;
	transition: 2s;
}

.div6-home .col-xl-6:last-of-type .graf1-ativo {
	width: 200px;
	transition: 2s;
}

.div6-home .col-xl-6:last-of-type .grafico2 {
	height: 12px;
	/* width: 405px; */
	background-color: var(--color-red);
	margin-bottom: 40px;
}

.div6-home .col-xl-6:last-of-type .graf2-inativo {
	width: 100px;
	transition: 4s;
}

.div6-home .col-xl-6:last-of-type .graf2-ativo {
	width: 405px;
	transition: 4s;
}

@media (max-width: 767.98px) {
	.div6-home .col-xl-6:last-of-type .grafico1 {
		width: 43%;
	}	

	.div6-home .col-xl-6:last-of-type .grafico2 {
		width: 87%;
	}	
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div6-home .col-xl-6:last-of-type .grafico2 {
		width: 320px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div6-home .col-xl-6:last-of-type .grafico2 {
		width: 280px;
		margin-bottom: 22px;
	}	
}

.div6-home .col-xl-6 .logo {
	max-width: 350px;
    margin: 70px 0 30px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div6-home .col-xl-6 .logo {
		max-width: 270px;
		margin: 25px 0 20px;
	}
}	

@media (min-width: 768px) and (max-width: 991.98px) {
	.div6-home .col-xl-6:last-of-type .btn-primary {
		display: block;
		width: 320px;
	}	
}


/* ======== Fim div6-home ========  */


/* ======== Fim div7-home ========  */

.div7-home .titulo {
	padding: 35px 225px 0;
}

@media (max-width: 991.98px) {
	.div7-home .titulo {
		padding: 35px 15px 0;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div7-home .titulo {
		padding: 35px 90px 0;
	}
}

.div7-home .titulo p {
	color: var(--color-gray-medium);
	font-size: 30px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 50px;
}
@media (max-width: 575.98px) {
	.div7-home .titulo p {
		font-size: 23px;
	}
}

.div7-home .titulo p span {
	color: var(--color-blue-dark);
}

.div7-home .titulo img {
	max-width: 260px;
    margin: 0 40px;
    display: inline;
    text-align: center;
}

@media (max-width: 575.98px) {
	.div7-home .titulo img {
		max-width: 120px;
    	margin: 0 auto;
    	display: block;
	}
}

@media (min-width: 575.98px) and (max-width: 767.98px) {
	.div7-home .titulo img {
		max-width: 190px;
    	margin: 0 auto;
    	display: block;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div7-home .titulo img {
		max-width: 230px;
	}
}

.div7-home .div2 {
	text-align: center;
    padding: 100px 225px;
    margin: 30px 0;
    background-image: url('../../img/home/bg-proteger.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 991.98px) {
	.div7-home .div2 {
		padding: 100px 15px;
	}
}

.div7-home .div2 p {
	font-size: 22px;
    margin-bottom: 50px;
    color: #fff;
    line-height: 24px;
}
@media (max-width: 575.98px) {
.div7-home .div2 p {
	font-size: 19px;
}
	}

.div7-home .div2 h1 {
	font-weight: 300;
	margin-bottom: 30px;
	font-size: 50px;
	color: #fff;
}

@media (max-width: 575.98px) {
	.div7-home .div2 h1 {
		font-size:35px;
	}	
}


.div7-home .div3 {
	padding: 0 100px 25px;
}

@media (max-width: 575.98px) {
	.div7-home .div3 {
		padding: 0 15px 25px;
	}	
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div7-home .div3 {
		padding: 0 0px 25px;
	}	
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div7-home .div3 {
		padding: 0 75px 25px;
	}	
}

.div7-home .div3 .amil{
	margin-top: 15px;
}

.div7-home .div3 .bradesco{
	max-width: 100px;
}

.div7-home .div3 .mcafee{
	max-width: 100px;
}

.div7-home .div3 .notre{
	width: 125px !important;
}

.div7-home .div3 h3 {
	color: var(--color-blue);
	font-weight: 300;
	text-align: center;
	margin-bottom: 30px;
}

@media (max-width: 575.98px) {
	.div7-home .div3 h3 {
    	margin: 45px 0 55px;
	}
}

.div7-home .div3 .div-imgs {
	display: inline-block;
    width: 19%;
	vertical-align: text-bottom;
}

.div7-home .div3 .parceiros-2 .div-imgs {
	display: inline-block;
    width: 19%;
	vertical-align: middle;
}

@media (min-width:505px) and (max-width:800px) {
	.div7-home .div3 .parceiros-1 .div-imgs:nth-child(4), .div7-home .div3 .parceiros-1 .div-imgs:nth-child(5) {
		width: 50%;
		float: left;
	}

}

@media (max-width: 575.98px) {
	.div7-home .div3 .div-imgs {
		display: inline-block;
	    width: 49%;
	    height: 130px;
	}

	.div7-home .div3 .parceiros-1 .div-imgs:last-of-type {
		width: 49%;
		margin: auto;
	}
	.div7-home .div3 .parceiros-2 .div-imgs{
		 width: 49%;
	}
}

@media (min-width: 576px) and (max-width: 991.98px) {
	.div7-home .div3 .div-imgs {
	    width: 49%;
	    height: 130px;
	}
	.div7-home .div3 .parceiros-2 .div-imgs{
		 width: 49%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div7-home .div3 .div-imgs {
	    height: 130px;
	}
}

.div7-home .div3 .div-imgs img{
	display: block;
	margin: 0 auto 20px;
	width: 115px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div7-home .div3 .div-imgs img{
		display: block;
		margin: 0 auto 20px;
		width: 105px;
	}
}

@media (min-width: 992px) {
	.div7-home .div3 .parceiros-2 {
		width: 80%;
		margin: auto;
	}

	.div7-home .div3 .parceiros-2 .div-imgs {
		width: 23%;
		margin: auto;
	}
}



.div7-home .div4 {
	background-color: var(--color-blue-dark);
	padding: 45px 120px 20px;
}

@media (max-width: 575.98px) {
	.div7-home .div4 {
		padding: 45px 15px 20px;
	}	
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div7-home .div4 {
		padding: 45px 45px 20px;
	}	
}

.div7-home .div4 p {
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 24px;
}
@media (max-width: 575.98px) {
	.div7-home .div4 p{
		color: #fff;
	    text-align: center;
	    font-size: 12px;
	    line-height: 20px;
	    margin-bottom: 12px;
	}	
}


/* ======== Fim div7-home ========  */

@media (max-width: 575.98px) { 
	footer .footer-menu{
		text-align: center;
	}
}
@media (max-width: 500px) {
	footer .footer-menu {
		margin: auto;
		margin-bottom: 20px;
	}
}

@media (max-width:800px) {
	footer .footer-bandeiras{
		margin-bottom: 20px;
	}
}

footer .footer-bandeiras .bloco-bandeiras {
	max-width: 60%;
	text-align: center;
	margin: auto;
}

footer .footer-bandeiras .bloco-bandeiras .band-titulo {
	margin-bottom: 0;
}

footer .footer-bandeiras .bloco-bandeiras .band-img {
	width: 25%;
    float: left;
    margin: auto;
    padding: 10px 5px;
}

@media (min-width: 505px) and (max-width: 800px) {
	footer .footer-bandeiras .bloco-bandeiras .band-img {
		width: 50%;
	}
}

footer .footer-seguranca {
	max-width: 60%;
	margin: auto;
}

footer .footer-seguranca .bloco-seg {
	text-align: center;
}

footer .footer-seguranca .bloco-seg .seg-titulo {
	margin-bottom: 0;
}

footer .footer-seguranca .bloco-seg .bloco-footer1 {
	margin-top: 10px;
}

footer .footer-seguranca .bloco-seg .bloco-footer1 .seg-img{
	max-width: 90px;
	margin: auto;
}

footer .footer-seguranca .bloco-seg .bloco-footer2 {
	margin-top: 20px;
}

footer .footer-seguranca .bloco-seg .bloco-footer2 .seg-img{
	max-width: 90px;
    margin: 0 10px;
}