
.page-login .barra-gradiente:first-of-type{
	top: 0;
	margin-top: 0;
}

.page-login .barra-gradiente:last-of-type{
	bottom: 0;
	margin-bottom: 0;
	position:absolute;
}

@media(max-width: 768.98px){
	.page-login .barra-gradiente:last-of-type{
		position: relative;
	}
}

.page-login .container .row:first-of-type img{
	margin: 40px auto;
    width: auto;
    height: 100px;
}

@media (max-width: 575.98px){
	.page-login .container .row:first-of-type img{
	    height: 75px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px){
	.page-login .container .row:first-of-type img{
	    height: 80px;
	}
}

.page-login .container .row:last-of-type .col-md{
	padding: 5px 100px;
}

@media (max-width: 767.98px){
	.page-login .container .row:last-of-type .col-md{
		padding: 5px 25px;
		margin-bottom: 25px;
	}	
}

@media (min-width: 768px) and (max-width: 991.98px){
	.page-login .container .row:last-of-type .col-md{
		padding: 5px 25px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px){
	.page-login .container .row:last-of-type .col-md{
		padding: 5px 75px;
	}	
}

@media (min-width: 768px){
	.page-login .container .row:last-of-type .col-md:first-of-type{
		border-right: 1px solid;
	}
}

.page-login .container .row:last-of-type .col-md:last-of-type p{
	font-size: 24px;
    color: gray;
    margin: 25px 0;
}

.page-login .container .row:last-of-type .col-md:last-of-type p:last-of-type{
	margin: 60px 0px 25px;
}

.page-login .titulo-form{
	font-size: 24px;
    color: gray;
    margin: 25px 0 5px;
}

.page-login .form-login p{
	font-size: 18px;
    color: var(--color-blue);
    margin: 8px 0 0;
}

.page-login .form-login p:last-of-type{
	text-align: right;
    color: black;
    margin-bottom: 18px;
    font-size: 18px;
}

.page-login .form-login a{
	float: right;
}
