
/*

	Folha de estilo referente a página Revolução
	by: Grano Studio;
*/



.grad-home::after {
	content: "";
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 25;
	-webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

/* ======== Div1 Revolução ========  */

.div1-revolucao {
	background-image: url('../../img/revolucao/banner-revolucao.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	width: 100%;
	position: relative;
}

.div1-revolucao h1 {
	font-size: 48px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    padding: 200px 260px 0px;
}

@media (max-width: 575.98px) {
	.div1-revolucao h1 {
	    padding: 160px 15px 0px;
	    font-size: 42px;
	}	
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div1-revolucao h1 {
	    padding: 180px 45px 0px;
	}	
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div1-revolucao h1 {
	    padding: 180px 80px 0px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div1-revolucao h1 {
	    padding: 130px 210px 0px;
	}	
}

.div1-revolucao .footer-div1-revolucao {
	background-color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 40px 0;
}

.div1-revolucao .footer-div1-revolucao img {
	max-width: 325px;
	margin: 0 auto;
	display: block;
}

@media (max-width: 575.98px) {
	.div1-revolucao .footer-div1-revolucao img {
		max-width: 270px;
	}	
}

/* ======== Fim Div1 Revolução ========  */

/* ======== Div2 Revolução ========  */

.div2-revolucao {
	padding-top: 15px;
}

.div2-revolucao p {
	text-align: center;
	font-size: 18px;
	margin-bottom: 22px;
	color: var(--color-gray-medium);
}

.div2-revolucao h3 {
	text-align: center;
	font-weight: 300;
	margin: 50px 0;
	color: var(--color-gray-medium);
}

.div2-revolucao img {
	max-width: 350px;
    margin: 50px auto;
    display: block;
}

@media (max-width: 575.98px) {
	.div2-revolucao img {
		max-width: 285px;
	}	
}

.div2-revolucao a {
	color: var(--color-red);
}

.div2-revolucao a:hover {
	color: var(--color-red);
}

/* ======== Fim Div2 Revolução ========  */

/* ======== Div3 Revolução ========  */

.div3-revolucao {
	/* height: 100vh; */
	width: 100%;
	margin: 100px 0 0px;
}

.div3-revolucao .bloco-coracao {
	height: 657px;
	width: 100%;
	/* height: 100%; */
	margin-left: -8px;
	background-image: url(../../img/revolucao/coracao.png);
	background-repeat: no-repeat;
	background-size: contain;
}

@media (max-width: 1100px) {
	.div3-revolucao .bloco-coracao {
		height: 560px;
		margin-left: -16px;
		margin-top: -5px;
	}
}

.div3-revolucao .box-9 {
	float: left;
	width: 65%;
	height: 100vh;
	background-color: #fff;
	position: relative;
    padding-left: 52px;
}

@media (min-width: 1201px) {
	.div3-revolucao .box-9 {
		width: 65%;
	}
}

@media (max-width: 800px) {
	.div3-revolucao .box-9 {
		/* width: 65%; */
		width: 100%;
    	height: auto;
	}
}

/* @media (min-width: 768px) and (max-width: 991.98px) {
	.div3-revolucao .box-9 {
		width: 70%;
		height: auto;
	}
} */

/* @media (min-width: 992px) and (max-width: 1199.98px) {
	.div3-revolucao .box-9 {
		width: 350px;
	}
} */

.div3-revolucao .box-9 img {
	max-height: 280px;
    margin: 185px auto;
    display: block;
}

@media (max-width: 767.98px) {
	.div3-revolucao .box-9 img {
		max-width: 180px;
		margin: 75px auto;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-revolucao .box-9 img {
		max-width: 280px;
		margin: 140px auto;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div3-revolucao .box-9 img {
		max-width: 215px;
	}
}

.div3-revolucao .box-10 {
	float: left;
	border-left: 135px solid #fff;
	border-top: 50vh solid transparent;
	border-bottom: 50vh solid transparent;
}

@media (max-width: 767.98px) {
	.div3-revolucao .box-10 {
		border-left: 80px solid #fff;
	    border-top: 163px solid transparent;
	    border-bottom: 163px solid transparent;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-revolucao .box-10 {
		border-left: 110px solid #fff;
	    border-top: 280px solid transparent;
	    border-bottom: 280px solid transparent;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div3-revolucao .box-10 {
		border-left: 90px solid #fff;
	}
}

@media (max-width: 1199.98px) {
	.div3-revolucao{
		height: auto;
	}	
}

.div3-revolucao .container {
	width: 100%;
}

.div3-revolucao .container .col-lg-6 {
	padding: 0;
}

.div3-revolucao .container .col-lg-6 h4 {
	color: #fff;
    margin-bottom: 25px;
    font-weight: 300;
}

.div3-revolucao .container .col-lg-6 .pre-titulo {
	color: var(--color-blue-dark);
    margin-bottom: 0px;
    font-size: 34px;
    line-height: 34px;
}

.div3-revolucao .container .col-lg-6 p {
	margin-bottom: 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.div3-revolucao .container .col-lg-6:last-of-type {
	padding: 100px 100px 0;
}

@media (max-width: 575.98px) {
	.div3-revolucao .container .col-lg-6:last-of-type {
		padding: 75px 30px 30px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div3-revolucao .container .col-lg-6:last-of-type {
		padding: 100px 100px 30px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div3-revolucao .container .col-lg-6:last-of-type {
		padding: 50px 60px 0px;
	}
}

.div3-revolucao .container .col-lg-6 p:last-of-type {
	font-size: 16px;
    padding: 0 50px;
    margin-bottom: 0;
    text-align: center;
	color: var(--color-blue-light);
}

.div3-revolucao .container .col-lg-6:last-of-type img {
	display: block;
    margin: 8px auto;
    width: 65%;
}

/* ======== Fim Div3 Revolução ========  */


/* ======== Div4 Revolução ========  */

.div4-revolucao .bloco-ones {
	height: 657px;
	width: 100%;
	/* height: 100%; */
	margin-left: -8px;
	background-image: url(../../img/revolucao/ones.png);
	background-repeat: no-repeat;
	background-size: contain;
}

@media (max-width:1100px) {
	.div4-revolucao .bloco-ones {
		height: 560px;
		margin-left: -13px;
		margin-top: -5px;
	}
}

.div4-revolucao .box-9 {
	float: left;
	width: 65%;
	height: 100vh;
	background-color: #fff;
	position: relative;
    padding-left: 52px;
}

@media (min-width: 1201px) {
	.div4-revolucao .box-9 {
		width: 65%;
	}
}

@media (max-width: 800px) {
	.div4-revolucao .box-9 {
		/* width: 65%; */
		width: 100%;
		height: auto;
	}
}

/* @media (min-width: 768px) and (max-width: 991.98px) {
	.div4-revolucao .box-9 {
		width: 70%;
		height: auto;
	}
} */

/* @media (min-width: 992px) and (max-width: 1199.98px) {
	.div4-revolucao .box-9 {
		width: 350px;
	}
} */

.div4-revolucao .box-9 img {
    max-width: 316px;
    margin: 240px 0 0;
    float: right;
    display: block;
}

@media (max-width: 767.98px) {
	.div4-revolucao .box-9 img {
		max-width: 227px;
		margin: 75px auto;
		float: unset;
	}
}

@media (max-width: 800px) {
	.div4-revolucao .box-9 img {
	    max-width: 370px;
		margin: 160px auto;
		float: unset;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div4-revolucao .box-9 img {
	    max-width: 300px;
	}	
}

.div4-revolucao .box-10 {
	float: left;
	border-left: 135px solid #fff;
	border-top: 50vh solid transparent;
	border-bottom: 50vh solid transparent;
}

@media (max-width: 767.98px) {
	.div4-revolucao .box-10 {
		border-left: 80px solid #fff;
	    border-top: 120px solid transparent;
	    border-bottom: 120px solid transparent;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div4-revolucao .box-10 {
		border-left: 105px solid #fff;
	    border-top: 233px solid transparent;
	    border-bottom: 233px solid transparent;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div4-revolucao .box-10 {
		border-left: 90px solid #fff;
	}
}

.div4-revolucao .container {
	width: 100%;
}

.div4-revolucao .container .col-lg-6 {
	padding: 0;
}

.div4-revolucao .container .col-lg-6 h1 {
	color: #fff;
    margin-bottom: 25px;
    font-weight: 300;
}

.div4-revolucao .container .col-lg-6 p {
	margin-bottom: 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}



.div4-revolucao .container .col-lg-6:last-of-type {
	padding: 125px 100px 0;
}

@media (max-width: 767.98px) {
	.div4-revolucao .container .col-lg-6:last-of-type {
		padding: 75px 30px 30px;
	}
}

@media (min-width: 768px) and (max-width: 911.98px) {
	.div4-revolucao .container .col-lg-6:last-of-type {
		padding: 125px 100px 30px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div4-revolucao .container .col-lg-6:last-of-type {
		padding: 60px 50px 30px;
	}
}

.div4-revolucao .btn-primary{
	display: block;
	margin: 60px auto 15px;
}

@media (max-width: 991.98px) {
	.div4-revolucao .btn-primary{
		width: 270px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div4-revolucao .btn-primary{
		margin: 40px auto 20px;
    	width: 240px;
	}
}

.div4-revolucao .container .col-lg-6:last-of-type img {
	width: 200px;
    margin: 0 auto;
    display: block;
}

/* ======== Fim Div4 Revolução ========  */


/* ======== Div5 Revolução ========  */

.div5-revolucao{
	/* height: 110vh; */
	height: auto;
	width: 100%;
	/*margin: 100px 0 0;*/
}

@media (max-width: 767.98px) {
	.fundo-branco {
		background-color: #fff;
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 1500px) and (min-width: 800px) {
	.div5-revolucao .container {
		width: 100%;
		max-width: 100%;
	}
}

@media (min-width: 576px) and (max-width: 1199.98px) {
	.div5-revolucao .container {
		padding: 0 15px;
		width: 100%;
	}
}


@media (max-width: 800px) {
	.box-9 {
		width: 100% !important;
	}	
}

@media (max-width: 575.98px) {
	.box-9 {
		width: 380px;
		background-color: transparent;
	}	
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.box-9 {
		width: 450px;
	}	
}

.box-9 img {
	max-width: 350px;
	margin-left: -74px;
	margin-top: 60px;
}

@media (max-width: 800px) {
	.box-9 img {
		margin-left: 0;
	}	
}

@media (max-width: 500px) {
	.box-9 img {
		margin-left: -100px;
	}	
}

.box-10 {
	float: left;
	border-left: 135px solid #fff;
	border-top: 55vh solid transparent;
	border-bottom: 55vh solid transparent;
}

.div5-revolucao .bracket {
    width: 35%;
    float: left;
    height: 110vh;
    margin-left: -13px;
}

@media (min-width:1400px) {
	.div5-revolucao .bracket {
		margin-left: -23px;
	}
}

@media (min-width: 1200px) and (max-width:1400px) {
	.div5-revolucao .bracket {
		height: 110vh;
		margin-left: -13px;
	}
}

@media (min-width: 1000px) and (max-width: 1200px) {
	.div5-revolucao .bracket {
		width: 30%;
		height: 110vh;
		margin-left: -5px;
	}
}

@media (max-width: 767.98px) {
	.div5-revolucao .box-10 {
		display: none;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.box-10 {
		border-left: 110px solid #fff;
	}	
} 


.bracket {
	/* width: 27%; */
	width: 29%;
    float: left;
    height: 100vh;
    margin-left: -13px;
}

@media (min-width:1400px) {
	.bracket {
		margin-left: -23px;
	}
}

@media (min-width:1201px) {
	.bracket {
		width: 32%;
	}
}

@media (max-width:1201px) {
	.bracket {
		margin-left: -5px;
	}
}

@media (max-width:1200px) {
	.bracket {
		width: 31%;
		margin-left: -3px;
		height: 100vh;
	}
}

@media (max-width:800px) {
	.bracket {
		display: none;
	}
}


/*   bullets numero 1 do gráfico   */
.box-9 .numeros-1 {
	position: absolute;
	color: var(--color-blue-light);
	font-size: 18px;
}

.box-9 .numeros-1:first-of-type {
	top: 28%;
	left: 21%;
}

@media (max-width: 1200px) {
	.box-9 .numeros-1:first-of-type {
		top: 30%;
    	left: 35%;
	}
}

@media (max-width: 800px) {
	.box-9 .numeros-1:first-of-type {
		top: 31%;
		left: 26%;
	}
}

@media (max-width: 500px) {
	.box-9 .numeros-1:first-of-type {
		top: 30%;
		left: 20%;
	}
}

.box-9 .numeros-1:nth-of-type(2) {
	top: 34%;
    left: 34%;
}

@media (max-width: 1200px) {
	.box-9 .numeros-1:nth-of-type(2) {
		top: 38%;
		left: 46%;
	}	
}

@media (max-width: 800px) {
	.box-9 .numeros-1:nth-of-type(2) {
		top: 38%;
		left: 30%;
	}	
}

.box-9 .numeros-1:nth-of-type(3) {
	top: 43%;
	left: 37%;
}

@media (max-width: 1200px) {
	.box-9 .numeros-1:nth-of-type(3) {
		top: 47%;
		left: 50%;
	}
}

@media (max-width: 800px) {
	.box-9 .numeros-1:nth-of-type(3) {
		top: 46%;
		left: 31%;
	}
}

.box-9 .numeros-1:nth-of-type(4) {
	top: 53%;
	left: 35%;
}

@media (max-width: 1200px) {
	.box-9 .numeros-1:nth-of-type(4) {
		top: 59%;
    	left: 48%;
	}
}

@media (max-width: 800px) {
	.box-9 .numeros-1:nth-of-type(4) {
		top: 59%;
		left: 30%;
	}
}

.box-9 .numeros-1:nth-of-type(5) {
	top: 62%;
	left: 27%;
}

@media (max-width: 1200px) {
	.box-9 .numeros-1:nth-of-type(5) {
		top: 69%;
    	left: 36%;
	}
}

@media (max-width: 800px) {
	.box-9 .numeros-1:nth-of-type(5) {
		top: 70%;
		left: 25%;	
	}
}

.box-9 .numeros-1:nth-of-type(6) {
    bottom: 27%;
    left: 9%;
}

@media (max-width: 1200px) {
	.box-9 .numeros-1:nth-of-type(6) {
		bottom: 17%;
		left: 13%;
	}
}

@media (max-width: 800px) {
	.box-9 .numeros-1:nth-of-type(6) {
		bottom: 17%;
    	left: 16%;
	}
}

@media (max-width: 500px) {
	.box-9 .numeros-1:nth-of-type(6) {
    	left: 8%;
	}
}

/*   bullets numero 1 do gráfico   */

/*   bullets numero 2 do gráfico   */
.box-9 .numeros-2 {
	position: absolute;
}

.box-9 .numeros-2 p:first-of-type{
	float: left;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-red);
}

.box-9 .numeros-2 p:last-of-type{
	line-height: 16px;
}

.box-9 .numeros-2 p:last-of-type span{
	font-size: 18px;
}

.box-9 .numeros-2:nth-of-type(7) {
	top: 15%;
    left: 47%;
}

@media (max-width: 1200px) {
	.box-9 .numeros-2:nth-of-type(7) {
		top: 18%;
		left: 55%;
		width: 200px;
	}	
}

@media (max-width: 800px) {
	.box-9 .numeros-2:nth-of-type(7) {
		top: 20%;
		left: 38%;
	}	
}

.box-9 .numeros-2:nth-of-type(8) {
	top: 29%;
    left: 63%;
    width: 140px;
}

@media (max-width: 1200px) {
	.box-9 .numeros-2:nth-of-type(8) {
		top: 31%;
		left: 78%;
		width: 140px;
	}	
}

@media (max-width: 800px) {
	.box-9 .numeros-2:nth-of-type(8) {
		top: 32%;
		left: 45%;
	}	
}

@media (max-width: 500px) {
	.box-9 .numeros-2:nth-of-type(8) {
		left: 53%;
	}	
}

.box-9 .numeros-2:nth-of-type(9) {
	top: 41%;
    left: 71%;
    width: 140px;
}

@media (max-width: 1200px) {
	.box-9 .numeros-2:nth-of-type(9) {
		top: 45%;
		left: 86%;
		width: 140px;
	}	
}

@media (max-width: 800px) {
	.box-9 .numeros-2:nth-of-type(9) {
		top: 45%;
		left: 47%;
	}	
}

@media (max-width: 500px) {
	.box-9 .numeros-2:nth-of-type(9) {
		left: 60%;
	}	
}

.box-9 .numeros-2:nth-of-type(10) {
    top: 57%;
    left: 68%;
    width: 135px;
}

@media (max-width: 1200px) {
	.box-9 .numeros-2:nth-of-type(10) {
		top: 62%;
		left: 85%;
		width: 155px;
	}
}

@media (max-width: 800px) {
	.box-9 .numeros-2:nth-of-type(10) {
		top: 63%;
		left: 47%;
	}
}

@media (max-width: 500px) {
	.box-9 .numeros-2:nth-of-type(10) {
		left: 57%;
	}
}

.box-9 .numeros-2:nth-of-type(11) {
    top: 69%;
    left: 58%;
    width: 200px;
}

@media (max-width: 1200px) {
	.box-9 .numeros-2:nth-of-type(11) {
		top: 78%;
		left: 67%;
	}
}

@media (max-width: 800px) {
	.box-9 .numeros-2:nth-of-type(11) {
		top: 80%;
		left: 40%;
	}
}

@media (max-width: 500px) {
	.box-9 .numeros-2:nth-of-type(11) {
		top: 77%;
		left: 48%;
	}
}

.box-9 .numeros-2:nth-of-type(12) {
    top: 80%;
    left: 34%;
    width: 220px;
}

@media (max-width:1200px) {
	.box-9 .numeros-2:nth-of-type(12) {
		top: 90%;
		left: 34%;
	}
}

@media (max-width:800px) {
	.box-9 .numeros-2:nth-of-type(12) {
		top: 92%;
    	left: 24%;
	}
}

/*   bullets numero 2 do gráfico   */

.div5-revolucao .col-xl-6:last-of-type {
	padding: 0 40px;
}

@media (max-width: 767.98px) {
	.div5-revolucao .col-xl-6:last-of-type {
		padding: 0 15px;
	}	
}

.div5-revolucao .col-xl-6:last-of-type p {
	color: #fff;
	font-size: 16px;
}

.div5-revolucao .col-xl-6:last-of-type p:first-of-type {
	margin-bottom: 40px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div5-revolucao .col-xl-6:last-of-type p:first-of-type {
		margin-bottom: 30px;
	}	
}

.div5-revolucao .col-xl-6:last-of-type img:last-of-type {
	width: 260px;
    margin: 30px 50px;
}

@media (max-width: 767.98px) {
	.div5-revolucao .col-xl-6:last-of-type img:last-of-type {
		margin: 30px 25px;
	}	
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div5-revolucao .col-xl-6:last-of-type img:last-of-type {
		margin: 30px 30px;
		width: 260px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div5-revolucao .col-xl-6:last-of-type img:last-of-type {
		margin: 30px 25px;
		width: 240px;
	}		
} 

.div5-revolucao .col-xl-6:last-of-type .grafico1 {
	height: 12px;
	/* width: 200px; */
	width: 100px;
	background-color: var(--color-blue-light);
	margin-bottom: 12px;
}

.div5-revolucao .col-xl-6:last-of-type .graf1-inativo {
	width: 100px;
	transition: 2s;
}

.div5-revolucao .col-xl-6:last-of-type .graf1-ativo {
	width: 200px;
	transition: 2s;
}

.div5-revolucao .col-xl-6:last-of-type .grafico2 {
	height: 12px;
	/* width: 405px; */
	width: 202px;
	background-color: var(--color-red);
	margin-bottom: 40px;
}	

.div5-revolucao .col-xl-6:last-of-type .graf2-inativo {
	width: 202px;
	transition: 2s;
}	

.div5-revolucao .col-xl-6:last-of-type .graf2-ativo {
	width: 405px;
	transition: 2s;
}

@media (max-width: 767.98px) {
	.div5-revolucao .col-xl-6:last-of-type .grafico2 {
		width: 87%;
	}	
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div5-revolucao .col-xl-6:last-of-type .grafico2 {
		width: 320px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div5-revolucao .col-xl-6:last-of-type .grafico2 {
		width: 280px;
		margin-bottom: 22px;
	}	
}

.div5-revolucao .col-xl-6 .logo {
	max-width: 350px;
    margin: 70px 0 30px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div5-revolucao .col-xl-6 .logo {
		max-width: 270px;
		margin: 25px 0 20px;
	}
}	

@media (min-width: 768px) and (max-width: 991.98px) {
	.div5-revolucao .col-xl-6:last-of-type .btn-primary {
		display: block;
		width: 320px;
	}	
}


/* ======== Fim Div5 Revolução ========  */


/* ======== Div6 Revolução ========  */

.div6-revolucao{
	margin-top: 100px;
}

.div6-revolucao .table {
	max-width: 80%;
    margin: auto;
}

.div6-revolucao .table th {
	border-bottom: 2px solid #cdcdcd !important;
}

.div6-revolucao .table td {
    border-top: 2px solid #cdcdcd !important;
}

.div6-revolucao .table thead tr th{
	border-top: none;
	text-align: center;
}

.div6-revolucao .table thead tr th:nth-of-type(2){
	border-left: 3px solid var(--color-red);
    border-right: 3px solid var(--color-red);
    padding: 10px 25px;
    font-size: 25px;
    color: var(--color-red);
    font-weight: 300;
    text-align: left;
    line-height: 32px;

}
.div6-revolucao .table thead tr th:nth-of-type(2) p img{
	max-width: 16px;
}

.div6-revolucao .table thead tr th:nth-of-type(2) p{
	font-size: 25px;
    color: var(--color-red);
    font-weight: 300;
    text-align: left;
    line-height: 32px;
}
.div6-revolucao .table thead tr th:last-of-type p{
	font-size: 25px;
    color: var(--color-blue-light);
    font-weight: 300;
    text-align: left;
    line-height: 25px;
}
@media (max-width: 575.98px) {
	.div6-revolucao .table thead tr th:nth-of-type(2){
	    padding: 10px 10px 0;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div6-revolucao .table thead tr th:nth-of-type(2){
	    padding: 10px 15px;
	}
}

.div6-revolucao .table thead tr th:nth-of-type(2) .titulo-vermelho{
	font-size: 25px;
    color: var(--color-red);
    font-weight: 300;
    text-align: left;
	line-height: 32px;
	text-align: center;
}

@media (max-width: 575.98px) {
	.div6-revolucao .table thead tr th:nth-of-type(2) .titulo-vermelho{ 
		font-size: 18px;
		line-height: 28px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div6-revolucao .table thead tr th:nth-of-type(2) .titulo-vermelho{ 
	    font-size: 26px;
	    margin-bottom: 0px;
	}
}

.div6-revolucao .table thead tr th:nth-of-type(2) .titulo-vermelho img{
	max-width: 16px;
}

.div6-revolucao .table thead tr th:last-of-type{
	padding: 10px 25px;
	vertical-align: text-top;
}

@media (max-width: 575.98px) {
	.div6-revolucao .table thead tr th:last-of-type{
		padding: 10px 5px 0;
	}	
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div6-revolucao .table thead tr th:last-of-type{
		padding: 10px 15px;
	}	
}

.div6-revolucao .table thead tr th:last-of-type .titulo-azul{
	font-size: 25px;
    color: var(--color-blue-light);
    font-weight: 300;
    text-align: left;
	line-height: 25px;
	text-align: center;
}

@media (max-width: 575.98px) {
	.div6-revolucao .table thead tr th:last-of-type .titulo-azul{
		font-size: 18px;
		line-height: 28px;
	}	
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div6-revolucao .table thead tr th:last-of-type .titulo-azul{
		font-size: 26px;
		margin-bottom: 0;
	}	
}

.div6-revolucao .col-left-table{
	width: 30%;
	border-right: 3px solid var(--color-red);
	padding-right: 55px;
	vertical-align: middle;
}

@media (max-width: 575.98px) {
	.div6-revolucao .col-left-table{
		width: auto;
		padding: 10px 5px 0 0;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.div6-revolucao .col-left-table{
		width: auto;
		padding: 15px;
	}
}

.div6-revolucao .col-left-table p:first-of-type{
	margin-bottom: 0px;
    color: var(--color-blue);
    font-weight: 400;
    font-size: 18px;
}

@media (max-width: 575.98px) {
	.div6-revolucao .col-left-table p:first-of-type{
		margin-bottom: 5px;
	}
}

.div6-revolucao .col-left-table p{
	line-height: 18px;
	margin-bottom: 0;
	color: var(--color-gray-medium);
}

@media (max-width: 575.98px) {
	.div6-revolucao .col-left-table p{
		font-size: 12px;
		line-height: 16px;
	}
}

.div6-revolucao .col-md-table{
	text-align: center;
	width: 30%;
	border-right: 3px solid var(--color-red);
	vertical-align: middle;
}

@media (max-width: 575.98px) {
	.div6-revolucao .col-md-table{
		width: auto;
		padding: 0px;
	}
}

.div6-revolucao .col-md-table p:first-of-type{
    margin-bottom: 0;
    color: var(--color-red);
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
}

@media (max-width: 575.98px) {
	.div6-revolucao .col-md-table p:first-of-type{
		font-size: 20px;
	}
}

.div6-revolucao .col-md-table p:nth-of-type(2){
    font-size: 14px;
    color: lightslategrey;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 18px;
}

@media (max-width: 575.98px) {
	.div6-revolucao .col-md-table p:nth-of-type(2){
		font-size: 12px;
	}
}

.div6-revolucao .col-right-table{
	text-align: center;
	width: 30%;
	/* padding: 0px 55px 0 15px; */
	padding: 0px 15px;
	vertical-align: middle;
}

@media (max-width: 767.98px) {
	.div6-revolucao .col-right-table{
		width: auto;
		padding: 0;
	}	
}

.div6-revolucao .col-right-table p:first-of-type{
	margin-bottom: 0;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    color: var(--color-gray-medium);
}

@media (max-width: 575.98px) {
	.div6-revolucao .col-right-table p:first-of-type{
	    font-size: 18px;
	}	
}

.div6-revolucao .col-right-table p:nth-of-type(2){
    font-size: 14px;
    color: lightslategrey;
}

.div6-revolucao .btn-primary{
	margin: 30px auto 10px;
    display: block;
    width: 348px;
}

@media (max-width: 991.98px) {
	.div6-revolucao .btn-primary{
	    margin: 50px auto 5px;
	    width: 260px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div6-revolucao .btn-primary{
	    width: 230px;
	}	
}


/* ======== Fim Div6 Revolução ========  */


/* ======== Div7 Revolução ========  */

.div7-revolucao .table {
	width: 70%;
    margin: auto;
}

.div7-revolucao .img-colchete{
	width: 25%;
    display: block;
    margin: 0 auto;
    transform: rotate(180deg);
}

@media (max-width: 767.98px) {
	.div7-revolucao .img-colchete{
	   width: 50%;
	}	
}

.div7-revolucao .img-colchete2{
	width: 25%;
    display: block;
    margin: 0 auto;
}

@media (max-width: 767.98px) {
	.div7-revolucao .img-colchete2{
	   width: 50%;
	}	
}

.div7-revolucao .btn-primary:first-of-type{
	margin: 25px auto;
    display: block;
    width: 208px;
}

@media (max-width: 991.98px) {
	.div7-revolucao .btn-primary:first-of-type{
	    width: 149px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div7-revolucao .btn-primary:first-of-type {
	    width: 120px;
	}	
}

.div7-revolucao .btn-primary:last-of-type{
	width: 170px;
    margin: 15px auto;
    display: block;
}

@media (max-width: 991.98px) {
	.div7-revolucao .btn-primary:last-of-type{
	    width: 124px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div7-revolucao .btn-primary:last-of-type {
	    width: 94px;
	}	
}

.div7-revolucao .tr-head{
	color: #fff;
	text-align: center;
    font-size: 18px;
	/* padding: 30px 60px 5px;  */
	padding: 30px 150px 5px;
}

@media (max-width: 575.98px) {
	.div7-revolucao .tr-head{
		color: #fff;
		text-align: center;
	    font-size: 22px;
	    padding: 30px 0px 5px; 
	}	
}

.div7-revolucao .table-div5 p{
	margin-bottom: 0;
	color: #fff;
	font-size: 16px;
}

@media (max-width: 767.98px) {
	.div7-revolucao .table-div5 p{
		font-size: 14px;
	}	
}

.div7-revolucao .table-div5 .col-left-head{
	padding: 30px 0;
    vertical-align: middle;
}

.div7-revolucao .table-div5 .col-left-head p{
	font-size: 26px;
}

@media (max-width: 767.98px) {
	.div7-revolucao .table-div5 .col-left-head p{
		font-size: 20px;
	}	
}

.div7-revolucao .table-div5 .col-md-head{
	padding: 2px 0 15px;
    vertical-align: middle;
    text-align: center;
}

@media (max-width: 767.98px) {
	.div7-revolucao .table-div5 .col-md-head {
		padding: 6px;
	}	
}

.div7-revolucao .table-div5 .col-md-head p{
	font-size: 20px;
}

@media (max-width: 767.98px) {
	.div7-revolucao .table-div5 .col-md-head p {
		font-size: 17px;
	}	
}

.div7-revolucao .table-div5 .col-md-head p:nth-of-type(2){
	border: 2px solid var(--color-red);
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 767.98px) {
	.div7-revolucao .table-div5 .col-md-head p:nth-of-type(2){
		width: 100%;
		padding: 5px;
	}	
}

.div7-revolucao .table-div5 .col-right-head{
	padding: 2px 0 15px;
    vertical-align: middle;
    text-align: center;
}

@media (max-width: 767.98px) {
	.div7-revolucao .table-div5 .col-right-head{
		padding: 0;
	}	
}

.div7-revolucao .table-div5 .col-right-head p{
	font-size: 20px;
}

@media (max-width: 767.98px) {
	.div7-revolucao .table-div5 .col-right-head p{
		font-size: 17px;
	}	
} 

.div7-revolucao .table-div5 .col-right-head p:nth-of-type(2){
	border: 2px solid var(--color-blue-light);
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 767.98px) {
	.div7-revolucao .table-div5 .col-right-head p:nth-of-type(2){
		width: 100%;
		padding: 5px;
	}	
}

.div7-revolucao .table-div5 .col-left-table2{
	width: 35%;
    padding: 4px 0;
    vertical-align: middle;
}

.div7-revolucao .table-div5 .col-md-table2{
	text-align: center;
	padding: 0;
    vertical-align: middle;
}

.div7-revolucao .table-div5 .col-right-table2{
	text-align: center;
	padding: 5px 0;
    vertical-align: middle;
}

.div7-revolucao .bg-gradient .col-sm-10 {
	margin: 0 auto;
}

.div7-revolucao .bg-gradient .col-sm-10 p {
	text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 25px 0 40px;
}

/* ======== Fim Div7 Revolução ========  */


/* ======== Div8 Revolução ========  */

.div8-revolucao {
	margin-top: 100px;
	position: relative;
}


@media (max-width: 767.98px) {
	.div8-revolucao .img-foguete {
		display: none;
	}	
}

.div8-revolucao .img-foguete:nth-child(1) {
	position: absolute;
    max-width: 200px;
    top: -37%;
    left: 14%;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	.div8-revolucao .img-foguete:nth-child(1) {
	    top: -31%;
    	left: 14%;
    	max-width: 140px;
	}	
}

.div8-revolucao .img-foguete:nth-child(2) {
	position: absolute;
    max-width: 140px;
    top: -9%;
    left: 0%;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	.div8-revolucao .img-foguete:nth-child(2) {
	    max-width: 90px;
	    top: -16%;
	    left: 0%;
	}	
}

.div8-revolucao .img-foguete:nth-child(3) {
	position: absolute;
    max-width: 85px;
    top: -3%;
    left: 17%;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	.div8-revolucao .img-foguete:nth-child(3) {
	    max-width: 70px;
	    top: -3%;
	    left: 7%;
	}	
}

.div8-revolucao h1 {
	color: var(--color-blue-dark);
	font-weight: 300;
}

.div8-revolucao h1 span {
	font-size: 18px;
	position: absolute;
}

.div8-revolucao .col-lg-6 p:first-of-type {
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
}

.div8-revolucao .bg-gradient .col-lg-6 {
	padding-top: 45px;
    padding-bottom: 45px;
}

.div8-revolucao .table  {
	color: #fff;
}

.div8-revolucao .table thead tr th {
	border-top: none;
    font-weight: 300;
    font-size: 20px;
    padding: 5px 0;
}

.div8-revolucao .table thead tr th span {
    font-size: 14px;
    position: absolute;
}

.div8-revolucao .table tbody tr td {
    padding: 5px 0;
}

@media (max-width: 1199.98px) {
	.div8-revolucao .table tbody tr td {
	    width: 75px;
	}	
}

.div8-revolucao .table tbody tr td span {
    font-size: 10px;
    color: darkgrey;
}

.div8-revolucao .footer-div8 {
	padding: 30px 80px;
	text-align: right;
}

@media (max-width: 767.98px) {
	.div8-revolucao .footer-div8 {
		padding: 30px 15px;
		text-align: right;
	}
}

.div8-revolucao .footer-div8 p {
	display: inline;
	font-size: 18px;
	margin-right: 25px;
	color: darkgray;
}

@media (max-width: 767.98px) {
	.div8-revolucao .footer-div8 p {
		font-size: 16px;
		margin-right: 15px;
	}
	.div8-revolucao .footer-div8 .btn-primary {
		padding: 7px 20px;
	}
}

@media (max-width: 500px) {

	.div8-revolucao .footer-div8 .btn-primary {
		padding: 7px 10px;
	}
}

.info-div8 {
	font-size: 14px !important;
	color: #fff !important;
}

.div8-info {
	font-size: 12px;
}

/* ======== Fim Div8 Revolução ========  */


/* ======== Div9 Revolução ========  */
.div9-revolucao {
	margin: 100px 0; 
}

.div9-revolucao .col-lg-4 img {
	margin: 0 auto 25px;
    display: block;
    width: 250px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div9-revolucao .col-lg-4 img {
	    width: 210px;
	}
}

.div9-revolucao .col-lg-8 {
	padding-right: 150px; 
}

@media (max-width: 767.98px) {
	.div9-revolucao .col-lg-8 {
		padding-right: 15px; 
		padding-top: 30px;
	}	
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	.div9-revolucao .col-lg-8 {
		padding-right: 30px;
	}	
}

.div9-revolucao .col-lg-8 h1 {
	color: var(--color-blue);
	font-weight: 300;
	margin-bottom: 20px;
}

.div9-revolucao .col-lg-8 h1 span {
	font-size: 18px;
	position: absolute;
}

.div9-revolucao .col-lg-8 p {
	font-size: 16px;
	margin-bottom: 50px;
	color: var(--color-gray-medium);
}

.div9-revolucao .col-lg-8 p strong {
	font-size: 18px;
}

.div9-revolucao .col-lg-8 .col-6 {
	float: left;
}

.div9-revolucao .col-lg-8 .col-6 img {
	max-width: 200px;
	margin: 0 auto;
	display: block;
}

@media (max-width: 767.98px) {
	.div9-revolucao .col-lg-8 .col-6 img {
		max-width: 130px;
	}	
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div9-revolucao .col-lg-8 .col-6 img {
		max-width: 150px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div9-revolucao .col-lg-8 .col-6 img {
		max-width: 170px;
	}	
}

/* ======== Fim Div9 Revolução ========  */


/* ======== Div9 Revolução ========  */

.div10-revolucao {
	margin: 100px 0 0; 
}

.div10-revolucao .col-lg-4 img {
	margin: 0 auto 25px;
    display: block;
    width: 250px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div10-revolucao .col-lg-4 img {
	    width: 210px;
	}
}

.div10-revolucao .col-lg-8 {
	padding-right: 150px; 
}

@media (max-width: 767.98px) {
	.div10-revolucao .col-lg-8 {
		padding-right: 15px; 
		padding-top: 30px;
	}	
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	.div10-revolucao .col-lg-8 {
		padding-right: 30px;
	}	
}

.div10-revolucao .col-lg-8 h1 {
	color: var(--color-blue-medium);
	font-weight: 300;
	margin-bottom: 20px;
}

.div10-revolucao .col-lg-8 h1 span {
	font-size: 18px;
	position: absolute;
}

.div10-revolucao .col-lg-8 p {
	font-size: 16px;
	margin-bottom: 50px;
	color: var(--color-gray-medium);
}

.div10-revolucao .border-red {
	border: 2px solid var(--color-red);
	border-radius: 15px;
	padding: 15px 40px;
}

.div10-revolucao .border-red p {
	margin-bottom: 15px;
	text-align: center;
}

.div10-revolucao .border-red p {
	margin-bottom: 0px;
}

.div10-revolucao .border-red p:first-of-type {
	color: var(--color-red);
	font-size: 20px;
}

.div10-revolucao .col-lg-8 .btn-primary {
	display: block;
	margin: 40px auto;
	width: 147px;
}

@media (max-width: 991.98px) {
	.div10-revolucao .col-lg-8 .btn-primary {
		width: 149px;
	}	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div10-revolucao .col-lg-8 .btn-primary {
		width: 120px;
	}	
}

/* ======== Fim Div9 Revolução ========  */


/* ======== Fim Div9 Revolução ========  */

.footer-revolucao {
	background-color: var(--color-blue-dark);
	text-align: center;
	padding: 15px;
}

.footer-revolucao p {
	color: #fff;
	margin-bottom: 0;
	font-size: 12px;
}

/* ======== Fim Div9 Revolução ========  */

