
/*

	Folha de estilo referente a página Home
	by: Grano Studio;
*/

@import "../ui.css";

@media (min-width: 768px) and (max-width: 1199.98px) {
	body {
		overflow-x: hidden;
	}
}


.div1-simule{
	background-image: url('../../img/simule/simule-bg-topo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
	height: 100%;
	padding-top: 80px;
}

.bloco-intro-texto .intro-conteudo {
	padding: 0 60px;
}

@media (max-width:500px) {
	.bloco-intro-texto .intro-conteudo {
		padding: 0 30px;
	}	
}

.bloco-intro-texto .intro-titulo {
	font-size: 40px;
	margin-bottom: 80px;
	margin-top: 200px;
}

@media (max-width: 800px) {
	.bloco-intro-texto .intro-titulo {
		margin-top: 0;
	}
}

@media (max-width:500px) { 
	.bloco-intro-texto .intro-titulo {
		font-size: 26px;
		margin-top: 60px;
	}
}

@media (max-width:800px) and (min-width: 500px) {
	.simule-cel {
		margin: 70px 25%;
	}
}


@media (max-width:500px) {
	.simule-cel {
		margin: 40px 0;
	}
}


/* STYLE DO FORM */

/* Style the form */
#regForm {
	/* background-color: #ffffff;
	margin: 100px auto;
	padding: 40px;
	width: 80%;
	min-width: 300px; */
  }
  
  /* Style the input fields */
  input {
	padding: 10px;
	width: 100%;
	font-size: 17px;
	/* font-family: Raleway; */
	border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
	background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
	display: none;
	min-height: 250px;

	background-color: #ffffff;
	margin: 100px auto;
	padding: 40px;
	padding-bottom: 0;
	margin-bottom: 10px;
	width: 80%;
	min-width: 300px;
	}

	@media (max-width:800px) {
		.tab {
			padding: 0;
			position: relative;
		}
	}

	.tab:first-of-type::after {
		content: " ";
		max-width: 40px;
		width: 100%;
		right: 5%;
		height: 207px;
		background-image: url(../../img/simule/bracket-right.png);
		background-repeat: no-repeat;
		position: absolute;
		display: block;
	}

	@media (max-width: 800px) {
		.tab:first-of-type::after {
			top: 20%;
			display: none;
		}
	}

	@media (max-width: 500px) {
		.tab:first-of-type::after {
			right: 0%;
		}
	}
	
	.tab:not(:first-of-type)::after {
		content: " ";
		max-width: 40px;
		width: 100%;
    	right: 5%;
		height: 207px;
		background-image: url(../../img/simule/bracket-right.png);
		background-repeat: no-repeat;
		position: absolute;
		display: block;
	}

	@media (max-width: 500px) {
		.tab:not(:first-of-type)::after {
			display: none;
		}
	}

	.tab:not(:first-of-type)::before {
		content: " ";
		max-width: 40px;
		width: 100%;
		left: 15%;
		height: 207px;
		background-image: url(../../img/simule/bracket-left.png);
		background-repeat: no-repeat;
		position: absolute;
		display: block;
	}

	@media (max-width:425px) {
		.tab:not(:first-of-type)::before {
			display: none;
		}
	}

  /* Divisao de item de form em 2 blocos */

  /* bloco de img */
  .tab .bloco-img-form {
	  max-width: 40%;
	  width: 100%;
	  height: 60px;
	  float: left;
	}
	
	@media (max-width: 800px) {
		.tab .bloco-img-form {
			max-width: 100%;
			min-height: 250px;
			float: unset;
		}
	}

	.tab .bloco-img-form img {
		margin-top: 60px;
	}

	@media (min-width: 1800px) {
		.tab .bloco-img-form img {
			margin-left: 25%;
		}
	}

	@media (max-width: 800px) and (min-width: 500px) {
		.tab .bloco-img-form img {
			margin-left: 25%;
			margin-top: 0px;
		}
	}

  /* fim bloco de img */

  /* bloco de texto do form */
  .tab .bloco-txt-form {
	  max-width: 60%;
	  width: 80%;
	  padding: 0 40px;
	  margin: auto;
	  float: left;
	}

	@media (max-width:800px) {
		.tab .bloco-txt-form {
			max-width: 100%;
			width: 100%;
			padding: 0 0;
			float: unset;
			margin-bottom: 80px;
		}
	}

	@media (max-width:500px) {
		.tab .bloco-txt-form {
			margin-bottom: 20px;
		}
	}
	
	.tab .bloco-txt-form .topo-form {
		width: 100%;
    min-height: 80px;
	}

	@media (max-width:800px) {
		.tab .bloco-txt-form .topo-form {
			width: 80%;
			margin: auto;
		}
	}

  .tab .bloco-txt-form .topo-form .num-form {
	float: left;
    width: 10%;
    font-size: 66px;
    color: var(--color-red);
}

  .tab .bloco-txt-form .topo-form .titulo-form {
	float: left;
    font-weight: 300;
    color: var(--color-gray);
    width: 90%;
    font-size: 25px;
    padding-top: 10px;
}

@media (max-width: 800px) {
	.tab .bloco-txt-form .topo-form .titulo-form {
	    padding-left: 10px;
	}
}

	.inativo {
		opacity: 0;
		transition: all .3s;
		margin-top: -20px;
	}

	.circ-inativo {
		opacity: 0;
		transition: all .3s;
		top: 30%;
	}

	.circ-ativo {
		opacity: 1;
		transition: all .3s;
		top: unset;
	}

	.ativo {
		opacity: 1;
		transition: all .3s;
		margin-top: 0;
	}

	/* BLOCO GRAFICOS DE AMIGOS  */
	.grafico-amigos {
		width: 100%;
		height: 100vh;
		position: relative;
		padding: 0;
		margin-top: 0;
	}

	.grafico-amigos .bloco-info-titulo {
		width: 80%;
		margin: auto;
		height: 90%;
	}

	.grafico-amigos .bloco-info-titulo .tab-info-titulo {
		padding-top: 60px;
	}

	.grafico-amigos .bloco-info-rodape {
		width: 100%;
		height: 10%;
		background-color: #fff;
	}

	.grafico-amigos:not(:first-of-type)::before {
    content: " ";
    max-width: 40px;
    width: 100%;
    top: 30%;
    /* left: 5%; */
    left: 10%;
    height: 207px;
	background-image: url(../../img/simule/bracket-left-branco.png);
	background-repeat: no-repeat;
    position: absolute;
    display: block;
}

.grafico-amigos:not(:first-of-type)::after {
	content: " ";
	max-width: 40px;
	width: 100%;
	top: 30%;
	right: 5%;
	height: 207px;
	background-image: url(../../img/simule/bracket-right-branco.png);
	background-repeat: no-repeat;
	position: absolute;
	display: block;
}

.grafico-amigos .grafico-conteudo {
	height: calc(68vh - 10px);
}

.grafico-amigos .grafico-conteudo .grafico {
	background-image: url(../../img/simule/grafico-amigos.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	background-position: center;
}

.grafico-amigos .grafico-conteudo .grafico .circ-grafico {
	position: absolute;
	width: 60px;
	height: 60px;
	border: 2px solid var(--color-red);
	border-radius: 40px;
}

.grafico-amigos .grafico-conteudo .grafico .circ-grafico:nth-last-of-type(1) {
	bottom: 20%;
	left: 20%;
}

.grafico-amigos .grafico-conteudo .grafico .circ-grafico:nth-last-of-type(2) {
	bottom: 50%;
	left: 25%;
}

.grafico-amigos .grafico-conteudo .grafico .circ-grafico:nth-last-of-type(3) {
	top: 25%;
	left: 47%;
}

.grafico-amigos .grafico-conteudo .grafico .circ-grafico:nth-last-of-type(4) {
	bottom: 50%;
	right: 27%;
}

.grafico-amigos .grafico-conteudo .grafico .circ-grafico:nth-last-of-type(5) {
	bottom: 20%;
	right: 20%;
}

.grafico-amigos .bloco-info-rodape {
	width: 100%;
	height: 10%;
	background-color: #fff;
	display: inline-flex;
	padding: 10px 40px;
}

.grafico-amigos .bloco-info-rodape img {
	float: left;
	margin-right: 10px;
}

.grafico-amigos .bloco-info-rodape .bloco-amigo {
	width: 200px;
	color: var(--color-gray-tooltip);
}

.grafico-amigos .bloco-info-rodape .bloco-amigo-amigo {
	width: 200px;
	color: var(--color-gray-tooltip);
}

	/* FIM BLOCO */



.bloco-info-titulo .tab-info-titulo {
	font-weight: 300;
	font-size: 46px;
	}

.bloco-info-titulo .tab-info-txt {
	font-weight: 300;
	font-size: 26px;
	width: 80%;
}

.guard-total-conteudo .bloco-info-titulo .tab-info-txt {
	width: 100%;
}


/* TESTE RADIO */

.lupa {
	position: relative;
}

.lupa:not(:first-of-type)::before {
	left: 0%;
    top: 50%;
}

.lupa:not(:first-of-type)::after {
	right: 0%;
    top: 50%;
}

.lupa .bloco-escolha {
	list-style: none;
	margin: 0;
	/* padding: 0; */
}

.lupa .bloco-escolha:after {
	content: "";
	clear: both;
}

.lupa .bloco-escolha .itens-escolha:first-of-type {
	margin-top: 30px;
}

.lupa .bloco-escolha .itens-escolha {
	box-sizing: border-box;
    float: left;
    height: auto;
    position: relative;
	width: 100%;
	display: inline-flex;
}

.lupa [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    width: 10px;
    height: 10px;
	margin-left: 5px;
	margin-top: 5px;
}

.lupa .bloco-escolha .itens-escolha label {
	background: #fff no-repeat center center;
    bottom: 1px;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 0px;
    position: absolute;
    right: 1px;
    text-indent: 100%;
    top: 5px;
    white-space: nowrap;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-red);
	border-radius: 25px;
	transition: .3s;
	
}

.lupa .bloco-escolha .itens-escolha input:checked + label {
	background-color: var(--color-red);
	transition: .3s;
}

.lupa .bloco-escolha .itens-escolha .texto-escolha {
	width: 80%;
	margin-left: 20px;
	color: var(--color-gray-medium);
	margin-top: 5px;
    font-weight: 300;
}

.graf-final:not(:first-of-type)::before {
	content: " ";
    max-width: 40px ;
    width: 100% ;
    top: 30% ;
    left: 5%;
    /* left: 10% ; */
    height: 207px ;
	background-image: url(../../img/simule/bracket-left-branco.png) ;
	background-repeat: no-repeat ;
    position: absolute ;
    display: block ;
}

.graf-final {
	padding-left: 20px !important;
	padding-right: 0 !important;
}

.graf-final-footer {
	background-color: var(--color-white);
	margin-left: -5px;
	/* margin-left: 0px; */
}

@media (max-width: 1100px) {
	.graf-final-footer {
		margin-left: -10px;
	}
}

@media (max-width: 800px) {
	.graf-final-footer {
		margin-left: -25px;
	}
}

.graf-final-footer .bloco-amigo, .graf-final-footer .bloco-amigo-amigo {
	display: inline-table;
}

.graf-final-footer .bloco-amigo img, .graf-final-footer .bloco-amigo p {
	float: left;
	margin-left: 5px;
}

.graf-final-footer .bloco-amigo img, .graf-final-footer .bloco-amigo-amigo img {
	margin-left: 10px;
}

.graf-final-footer .bloco-amigo-amigo img, .graf-final-footer .bloco-amigo-amigo p {
	float: left;
	margin-left: 5px;
}

.graf-final:not(:first-of-type)::after {
	content: " ";
	max-width: 40px ;
	width: 100% ;
	top: 30% ;
	/* right: 5% ; */
	right: 2.5% ;
	height: 207px ;
	background-image: url(../../img/simule/bracket-right-branco.png) ;
	background-repeat: no-repeat ;
	position: absolute ;
	display: block ;
}

.bloco-total {
	width: 100%;
	margin-top: 0;
	position: relative;
}

.bloco-total  .bloco-conteudo {
	width: 70%;
	margin: auto;
	position: relative;
}

.bloco-total  .bloco-conteudo .bloco-topo .titulo {
	color: var(--color-white);
	font-weight: 300;
    font-size: 46px;
}

.bloco-total  .bloco-conteudo .bloco-topo .sub-titulo {
	color: var(--color-white);
	font-weight: 300;
	font-size: 26px;
	max-width: 80%;
}

/* FIM TESTE RADIO */

.bloco-lupa img{
	margin-left: 25%;
}

@media (min-width: 501px) {
	.graf-final-body .bloco-info-mob {
		display: none;
	}
}

@media (max-width: 500px) {
	.graf-final-body .bloco-info-mob {
		display: block;
	}

	.graf-final-body .bloco-info-mob .info-mob-list {
		list-style: none;
	}

	.graf-final-body .bloco-info-mob .info-mob-list-item:not(:last-of-type) {
		margin-bottom: 20px;
	}

	.graf-final-body .bloco-info-mob .info-mob-list .info-mob-list-item::before {
		content: "";
		width: 30px;
		height: 30px;
		background-image: url(../../img/simule/icon-item-list.png);
		background-repeat: no-repeat;
		display: block;
		background-size: contain;
		position: absolute;
		left: 0;
	}

	.graf-final-body .bloco-info-mob .info-mob-list .info-mob-list-item .mob-item {
		color: var(--color-white);
		margin-bottom: 0;
		font-size: 16px;
	}

	.graf-final-body .bloco-info-mob .info-mob-list .info-mob-list-item .mob-nome {
		font-weight: bold;
	}

	.graf-final-body .bloco-info-mob .info-mob-list .info-mob-list-item .mob-light-italic {
		font-weight: 300;
		font-style: italic;
	}

}


.graf-final-body .graf-img {
    background-image: url(../../img/simule/grafico-amigos.png);
    height: 240px;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: top;
}

@media (max-width: 1100px) {
	.graf-final-body .graf-img {
		min-height: auto;
	}
}

@media (max-width: 475px) {
	.graf-final-body .graf-img {
		height: 180px;
	}
}


.graf-final-body .circ-grafico {
	width: 60px;
	height: 60px;
	border: 2px solid var(--color-red);
	border-radius: 60px;
	position: absolute;
}

@media (max-width: 1100px) {
	.graf-final-body .circ-grafico {
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 500px) {
	.graf-final-body .circ-grafico {
		display: none !important;
	}
}

.graf-final-body .circ-valor {
	background-color: var(--color-red);
	display: table;
}

.graf-final-body .circ-valor:before {
	content: "$";
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
	line-height: 1px;
	color: var(--color-white);
}

@media (max-width:1100px) {
	.graf-final-body .circ-valor:before {
		font-size: 24px;
	}
}

.graf-final-body .circ-valor .info-circ {
	position: absolute;

	width: 220px;
}

.graf-final-body .circ-valor .txt-circ {
	max-width: 200px;
	text-align: right;
}

.graf-final-body .circ-valor .list-info {
	list-style: none;
    padding: 0;
}

.graf-final-body .circ-valor .list-info li {
	line-height: 26px;
}

@media (max-width:1100px) {
	.graf-final-body .circ-valor .list-info li {
		line-height: 16px;
	}
}

.graf-final-body .circ-valor .nome {
	color: var(--color-white);
	font-weight: 700;
	font-size: 21px;
}

@media (max-width: 1100px) {
	.graf-final-body .circ-valor .nome {
		font-size: 16px;
	}
}

.graf-final-body .circ-valor .plano {
	color: var(--color-white);
	font-size: 20px;
	font-weight: 300;
}

@media (max-width: 1100px) {
	.graf-final-body .circ-valor .plano {
		font-size: 15px;
	}
}

.graf-final-body .circ-valor .valor {
	color: var(--color-white);
	font-size: 21px;
	font-weight: 500;
	margin-top: 10px;
}

@media (max-width: 1100px) {
	.graf-final-body .circ-valor .valor {
		font-size: 16px;
	}
}

.graf-final-body .circ-valor .ones {
	color: var(--color-white);
	font-size: 21px;
	font-weight: 300;
}

@media (max-width: 1100px) {
	.graf-final-body .circ-valor .ones {
		font-size: 16px;
	}
}

.circ-body-topo {
	top: 25%;
    left: calc(50% - 30px);
}

@media (max-width: 1100px) {
	.circ-body-topo {
	    top: 45%;
    	left: calc(49% - 10px);
	}
}

@media (min-width: 1800px) {
	.circ-body-topo {
		top: 20%;
	}
}

/* BLOCO LEFT */
.circ-body-left {
	top: 45%;
	/* left: 10%; */
	left: 90px;
}

@media (max-width: 1500px) {
	.circ-body-left {
		left: 130px;
	}
}

@media (max-width: 1100px) {
	.circ-body-left {
		top: 60%;
		left: 180px;
	}
}

@media (max-width: 800px) {
	.circ-body-left {
		left: 120px;
	}
}

@media (min-width: 1800px) {
	.circ-body-left {
		left: 540px;
	}
}

.circ-body-left .info-circ {
	left: -220px;
    top: -60px;
}

@media (max-width: 1100px) {
	.circ-body-left .info-circ {
		top: -50px;
	}
}

@media (max-width: 500px) {
	.circ-body-left .info-circ {
		top: -50px;
		left: 0;
	}
}

.circ-body-left .info-circ .nome{
	margin-left: 70px;
}

/* FIM BLOCO LEFT */

/* BLOCO LEFT BOTTOM */
.circ-body-left-bottom {
	bottom: 80px;
	/* left: 0; */
	left: 30px;
}

@media (min-width: 1800px) {
	.circ-body-left-bottom {
		left: 460px;
	}
}

@media (max-width: 1500px) {
	.circ-body-left-bottom {
		left: 40px;
	}
}

@media (max-width: 1100px) {
	.circ-body-left-bottom {
		bottom: 40px;
		left: 130px
	}
}

@media (max-width: 800px) {
	.circ-body-left-bottom {
		left: 80px;
	}
}

.circ-body-left-bottom .info-circ {
	left: -220px;
	top: -90px;
}

@media (max-width: 1100px) {
	.circ-body-left-bottom .info-circ {
		top: -60px;
	}
}

@media (max-width: 800px) {
	.circ-body-left-bottom .info-circ {
		right: 120px;
	}
}

.circ-body-left-bottom .info-circ .nome{
	
}

/* FIM BLOCO LEFT BOTTOM */

/* BLOCO RIGHT */
.circ-body-right {
	top: 45%;
    right: 90px;
}

@media (max-width: 1500px) {
	.circ-body-right {
		right: 140px;
	}
}

@media (max-width: 1100px) {
	.circ-body-right {
		top: 60%;
		right: 180px;
	}
}

@media (max-width: 800px) {
	.circ-body-right {
		right: 120px;
	}
}

@media (min-width: 1800px) {
	.circ-body-right {
		top: 45%;
		right: 540px;
	}
}

.circ-body-right .info-circ {
	top: -70px;
}

.circ-body-right .info-circ .list-info {
	margin-left: -80px;
}

/* FIM BLOCO RIGHT */

/* BLOCO RIGHT BOTTOM */
.circ-body-right-bottom {
	bottom: 80px;
	/* right: 0px; */
    right: 30px;
}

@media (max-width: 1500px) {
	.circ-body-right-bottom {
		right: 40px;
	}
}

@media (max-width: 1100px) {
	.circ-body-right-bottom {
		bottom: 40px;
		right: 130px;
	}
}

@media (max-width: 800px) {
	.circ-body-right-bottom {
		right: 80px;
	}
}

@media (min-width: 1800px) {
	.circ-body-right-bottom {
		right: 460px;
	}
}

.circ-body-right-bottom .info-circ {
	left: 0px;
    top: -90px;
}

@media (max-width: 1100px) {
	.circ-body-right-bottom .info-circ {
		left: -40px;
		top: -60px;
	}
}

.circ-body-right-bottom .info-circ .list-info {
	margin-left: -40px;
}

/* FIM BLOCO RIGHT BOTTOM */

  /* fim bloco de texto do form */

  /* BLOCO TABELA FINAL */

.tabela-info {
	position: relative;
	width: 90%;
}

.tabela-info:not(:first-of-type)::before {
	left: 0%;
    top: 50%;
}

.tabela-info:not(:first-of-type)::after {
	right: -5%;
	top: 50%;
	background-image: url(../../img/simule/bracket-right-orange.png);
}

.conteudo-total-tab {
	/* max-width: 80%;
    margin: auto; */
}

.conteudo-total-tab .titulo-tabela {
	display: inline-table;
	max-width: 80%;
	margin-left: 10%;
}

@media (max-width: 475px) {
	.conteudo-total-tab .titulo-tabela {
		max-width: 100%;
		margin-left: unset;
	}
}

.conteudo-total-tab .titulo-tabela .num-titulo {
	width: 10%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
	font-size: 65px;
	color: var(--color-red);
}

.conteudo-total-tab .titulo-tabela .tab-titulo {
	width: 90%;
    display: table-cell;
	vertical-align: middle;
	font-size: 22px;
	color: var(--color-gray-medium);
	font-size: 22px;
    line-height: 22px;
}

@media (max-width:475px) {
	.conteudo-total-tab .titulo-tabela .tab-titulo {
		font-size: 16px;
		line-height: 16px;
		padding-left: 20px;
	}
}

.conteudo-total-tab .subtitulo-tabela {
	max-width: 95%;
    margin-left: 2.5%;
    background: var(--color-red);
    padding: 10px 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media (min-width: 1800px) {
	.conteudo-total-tab .subtitulo-tabela {
		max-width: 1600px;
		margin: auto;
	}
}

.conteudo-total-tab .subtitulo-tabela .subt-item {
	width: 30%;
	display: table-cell;
	vertical-align: middle;
	color: var(--color-white);
	font-size: 14px;
}

.tabela {

}

@media (min-width: 1800px) {
	.tabela {
		max-width: 1750px;
		margin: auto;
	}
}

.tabela .cb-tabela {
	display: inline-table;
	width: 100%;
	border: 1px solid var(--color-blue-dark);
	text-align: center;
}

@media (max-width: 425px) {
	.tabela .cb-tabela {
		display: inline-block;
		overflow: auto;
		width: 170%;
		overflow: unset;
	}
}

@media (max-width:375px) {
	.tabela .cb-tabela {
		width: 170%;
	}
}

@media (max-width:320px) {
	.tabela .cb-tabela {
		width: 220%;
	}
}

.tabela  .cb-tabela .tabela-item {
	padding: 10px 5px;
	font-size: 13px
}

@media (max-width: 475px) {
	.tabela  .cb-tabela .tabela-item {
		padding: 10px 13px;
		vertical-align: middle;
	}
}


/* BODY DA TABELA */
.tabela .cont-tabela {
	border: 1px solid var(--color-gray-scroll);

	max-height: 368px;
	overflow: auto;
}

/* CUSTOM SCROLL */
/* width */
.tabela .cont-tabela::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
.tabela .cont-tabela::-webkit-scrollbar-track {
	background: var(--color-gray-scroll); 
	border-radius: 10px;
}

/* Handle */
.tabela .cont-tabela::-webkit-scrollbar-thumb {
	background: var(--color-red); 
	border-radius: 10px;
}

/* Handle on hover */
.tabela .cont-tabela::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* FIM CUSTOM SCROLL */

.tabela .cont-tabela .item-expand {
	padding: 10px;
}

@media (max-width: 475px) {
	.tabela .cont-tabela .item-expand {
		width: 170%;
	}
}

@media (max-width: 320px) {
	.tabela .cont-tabela .item-expand {
		width: 220%;
	}
}

.tabela .cont-tabela .item-expand .font-tabela {
	font-size: 12px;
	padding: 0px 10px;
}

.tabela .cont-tabela .item-expand .item-tab .item-principal {
	position: relative;
}

.tabela .cont-tabela .item-expand .item-tab .item-principal .item-nome-princ {
	padding-left: 20px;
}

.tabela .cont-tabela .item-expand .item-tab .item-principal .btn-exp {
    width: 16px;
    top: 10px;
    left: 0px;
    height: 16px;
    display: block;
    background: var(--color-red);
    position: absolute;
    border-radius: 5px;
    color: var(--color-white);
    text-align: center;
    line-height: 15px;
    font-size: 16px;
}

/* CONF ITEM PRINCIPAL */

.tabela .cont-tabela .item-expand .item-tab .item-principal .item-princi {
	border-bottom: 1px solid var(--color-blue-tab);
}

.tabela .cont-tabela .item-expand .item-tab .item-principal .valor1 {
	border-bottom: 1px solid var(--color-blue-tab);
    border-right: 1px solid var(--color-gray-tooltip);
    border-left: 1px solid var(--color-gray-tooltip);
}

.tabela .cont-tabela .item-expand .item-tab .item-principal .valor2 {
	border-bottom: 1px solid var(--color-blue-tab);
}

/* CLASSE QUE INICIA O SUB ITEM INVISIVEL */
.tabela .cont-tabela .item-expand .item-tab .item-principal .sub-item {
	display: none;
}
/* FIM CLASSE */

.tabela .cont-tabela .item-expand .item-tab .item-principal .nome-principal {
	color: var(--color-blue-dark);
}

.tabela .cont-tabela .item-expand .item-tab .item-principal .codigo-principal {
	text-transform: uppercase;
	color: var(--color-red);
}

.tabela .cont-tabela .item-expand .item-tab .item-principal .indicador-principal {
	color: var(--color-blue-dark);
}


.tabela .cont-tabela .item-expand .item-tab .item-principal .plano {
	color: var(--color-gray-tooltip);
}

.tabela .cont-tabela .item-expand .item-tab .item-principal .valor {
	color: var(--color-red);
	text-align: center;
	font-weight: bold;
}

/* FIM ITEM PRINCIPAL */
.tabela .cont-tabela .item-expand .item-tab .item-principal .item-secundario .tabela-item {
	padding-top: 5px;
}

.tabela .cont-tabela .item-expand .item-tab .item-principal .item-secundario .tabela-item {
	border-bottom: 1px solid var(--color-blue-tab)
}

.tabela .cont-tabela .item-expand .item-tab .item-principal .item-secundario .item-nome-sec {
	padding-left: 30px;
	color: var(--color-blue-medium);
}

.tabela .cont-tabela .item-expand .item-tab .item-principal .item-secundario .item-nome-sec {
	padding-left: 30px;
	color: var(--color-blue-medium);
}

.tabela .cont-tabela .item-expand .item-tab .item-principal .item-secundario .item-cod-sec {
	color: var(--color-gray-tooltip);
}

.tabela .cont-tabela .item-expand .item-tab .item-principal .item-secundario .item-ind-sec {
	color: var(--color-blue-medium);
}

.tabela .cont-tabela .item-expand .item-tab .item-ind-cod {
	color: var(--color-red);
}

/* ULTIMO ITEM SECUNDARIO DE TABELA */
.tabela .cont-tabela .item-expand .item-tab:last-of-type .item-principal .item-secundario:last-of-type .tabela-item {
	border-bottom: none;
}

.tabela .cont-tabela .item-expand .item-tab:last-of-type .item-principal .tabela-item {
	border-bottom: none;
}
/* ULTIMO ITEM TABELA */

/* RODAPE BODY TABELA */
.tabela .cont-tabela .rodape-item {
	border-top: 2px solid var(--color-red);
}

.tabela .cont-tabela .rodape-item .rodape-item-lg {
	width: 75%;
	float: left;
	color: var(--color-gray-tooltip);
	font-size: 19px;
	padding: 0 10px;
}

.tabela .cont-tabela .rodape-item .rodape-item-md {
	width: 12%;
	border-left: 1px solid var(--color-gray-tooltip);
	float: left;
	padding: 5px 0;

	font-size: 16px;
	text-align: center;
	color: var(--color-red);
	font-weight: 500;
}

.tabela .cont-tabela .rodape-item .md-1 {
	margin-right: 3px;
}

/* FIM RODAPE BODY TABELA */

/* FIM BODY */

.tabela .tabela-item-md {
	width: 12%;
	/* width: unset; */
	display: table-cell
}

.tabela .tabela-item-lg {
	width: 25%;
	display: table-cell
}

/* BLOCO PROPAGANDA */
.bloco-prop {
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	width: 90%;
	margin: 15px auto;
}

.bloco-prop .titulo-prop {
	font-size: 20px;
	color: var(--color-red);
	font-weight: 300;
}

.bloco-prop .desc-prop {
	font-size: 16px;
	color: var(--color-gray-medium);
}

.bloco-prop .bloco-btns-prop {
	display: inline-flex;
}

.bloco-prop .bloco-btns-prop a:hover {
	text-decoration: none;
}

.bloco-prop .bloco-btns-prop .btn-prop {
	color: var(--color-white);
	max-width: 425px;
	font-size: 15px;
	padding: 10px 25px;
	text-align: center;
    border-radius: 10px;
}

.bloco-prop .bloco-btns-prop .btn-prop span {
	font-weight: bold;
}

.bloco-prop .bloco-btns-prop .prop-premium {
	background-color: var(--color-red);
	border: 1px solid var(--color-red);
	margin-right: 10px;
	transition: 0.3s;
}

.bloco-prop .bloco-btns-prop .prop-premium:hover {
	background-color: transparent;
	color: var(--color-red);
	transition: 0.3s;
}

.bloco-prop .bloco-btns-prop .prop-basico {
	background-color: var(--color-gray-tooltip);
	border: 1px solid var(--color-gray-tooltip);
	margin-left: 10px;
	transition: 0.3s;
}

.bloco-prop .bloco-btns-prop .prop-basico:hover {
	background-color: transparent;
	color: var(--color-gray-medium);
	transition: 0.3s;

}

.bloco-prop .info {
	margin-top: 20px;
}

/* FIM BLOCO PROPAGANDA */

  /* FIM BLOCO TABELA FINAL */
  
  /* Make circles that indicate the steps of the form: */
  .step {
	height: 12px;
	width: 12px;
	margin: 0 30px;
	background-color: #bbbbbb;
	border: none; 
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
  }

  @media (max-width: 800px) {
	.step {
		margin: 0 5px;
	  }
  }
  
  /* Mark the active step: */
  .step.active {
	opacity: 1;
	background-color: var(--color-gray2);
	/* background-color: var(--color-red); */
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
	/* background-color: var(--color-red); */
  }

  .form-input {
	padding: 0;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #888;
	width: 60%;
	margin-top: 40px;
	
	}

	@media (max-width:800px) and (min-width: 500px) {
		.form-input {
			width: 80%;
			margin-left: 10%;
		}
	}

	@media (max-width: 499px) {
		.form-input {
			width: 100%;
			margin-left: 0;
		}
	}
	
	.form-input:focus {
		outline: none;
		}

  .btn-control {
	  width: 90%;
  }

  @media (max-width: 800px) {
	.btn-control {
		width: 100%;
	}
  }

  .btn-control-conteudo {
	  width: 60%;
	  margin: auto;
}

@media (max-width: 800px) {
	.btn-control-conteudo {
		width: 50%;
		float: unset !important;
		text-align: center;
  }
}

@media (max-width: 475px) {
	.btn-control-conteudo {
		width: 100%;
  }
}
	
	#nextBtn {
		float: right;
		margin-right: 90px;
	}

	@media (max-width: 800px) {
		#nextBtn {
			/* margin-right: calc(50% - 50px); */
			float: unset;
			margin: auto;
		}
	}

	#prevBtn {
		float: left;
	} 

  .btn-control-conteudo .btn-form {
	padding: 5px;
	width: 200px;
	border-radius: 10px;
	}
	
	.bloco-indicadores {
		text-align:center;
		margin-top:40px;
    margin-top: 120px;
    margin-bottom: 60px;
	}


	.guard-total {
		width: 100%;
		position: relative;

		margin-top: 0;
		display: none;
		min-height: 250px;
		background-color: #ffffff;
		padding: 100px 0;
		margin-bottom: 10px;
		min-width: 300px;
	}

	.guard-total-conteudo {
		width: 80%;
		margin: auto;
		text-align: center;
		padding-top: 120px;
	}

	.bloco-info-subtitulo {
		margin-top: 10px;
	}

	.bloco-info-subtitulo .tab-info-subtxt {
		font-size: 80px;
		font-style: italic;
	}

	.btn-final {
		position: absolute;
		left: calc(60% - 200px);
		margin-top: -100px;
	}

	#prevBtn {
		display: none !important;
	}

/* FIM STYLE FORM */

.odometer {
	font-size: 100px;
}

